<div class="card">
  <!--<div class="card-header text-uppercase">Titulo</div>-->

  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
        <div ngbDropdown class="btn-group m-2" >
          <button type="button" class="btn btn-light"><i class="fa fa-edit"></i><span>&nbsp;Editar</span></button>
          <button disabled type="button" class="btn btn-light"><i class="fa fa-check-square-o"></i><span>&nbsp;Autorizar</span></button>
          <button disabled type="button" class="btn btn-light"><i class="fa fa-times-rectangle-o"></i><span>&nbsp;Rechazar</span></button>
          <button disabled type="button" class="btn btn-light"><i class="fa fa-times-rectangle-o"></i><span>&nbsp;Reversar</span></button>
        </div>
      </div>


      <div class="col-12 col-lg-8 col-xl-8">
        <div ngbDropdown class="btn-group m-2 float-sm-right" >
          <button type="button" class="btn btn-light"><i class="fa fa-copy"></i><span>&nbsp;Copiar</span></button>
          <button type="button" class="btn btn-light"><i class="fa fa-sign-out"></i><span>&nbsp;Salir</span></button>
        </div>
      </div>

    </div>
  </div>

</div>  