<app-btnview></app-btnview>
<h4 class="page-title" ><a type = "button" (click)="Mod(router)"> Crédito Grupal</a> </h4>
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">Cliente</label>
                        <div class="col-sm-3">Jose Miguel Sanchez Martínez</div>
                        <label  class="col-sm-3 col-form-label">No. Cliente</label>
                        <div class="col-sm-3">54587899547890</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Fecha de Alta</label>
                        <div class="col-sm-3">10/Sep/2021</div>
                        <label class="col-sm-3 col-form-label">Fecha de Vencimiento</label>
                        <div class="col-sm-3">10/sep/2022</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">No. Cuenta</label>
                        <div class="col-sm-3">00000100</div>
                        <label  class="col-sm-3 col-form-label">Tipo de Cuenta</label>
                        <div class="col-sm-4">Crédito Grupal</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Producto</label>
                        <div class="col-sm-3">Cafetal</div>
                        <label class="col-sm-3 col-form-label">Moneda</label>
                        <div class="col-sm-3">MXN (Pesos Mexicanos)</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Estatus de la Cuenta</label>
                        <div class="col-sm-3">Activa</div>
                        <label class="col-sm-3 col-form-label">Descripción</label>
                        <div class="col-sm-3">Prueba1</div>
                    </div>
                <hr>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">Tipo de Tasa</label>
                        <div class="col-sm-3">Fija</div>
                        <label  class="col-sm-3 col-form-label">Tasa de Rendimiento</label>
                        <div class="col-sm-3">12 meses</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Puntos Adicionales</label>
                        <div class="col-sm-3">10</div>
                        <label class="col-sm-3 col-form-label">Tipo de Comisión</label>
                        <div class="col-sm-3">servicio</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Percentaje de Comisión</label>
                        <div class="col-sm-3">10%</div>
                        <label  class="col-sm-3 col-form-label">Periodo de comision</label>
                        <div class="col-sm-4">2 meses</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
