<!-- Start wrapper-->
<div id="wrapper">
	<div class="height-100v d-flex align-items-center justify-content-center">
		<div class="card-authentication2 mx-auto my-5">
			<div class="card-group">
				<div class="card mb-0">
					<div class="bg-reset-password2"></div>
					<div class="card-img-overlay rounded-left my-5">
						<h1 class="text-white">OACIS</h1>
						<h2 class="text-white">Sistema de control financiero</h2>
						<p class="card-text text-white pt-3">Recordar es fácil para el que tiene memoria, olvidarse el difícil para quien tiene corazón. – Gabriel García Márquez.</p>
					</div>
				</div>
				<div class="card mb-0">
					<div class="card-body">
						<div class="card-content p-3">
							<div class="card-title text-uppercase text-center pb-3">Reset Password</div>
							<p class="text-center pb-2">Por favor, introduzca su dirección de correo electrónico. Recibirá un enlace para crear una nueva contraseña por correo electrónico.</p>
							<form (ngSubmit)="onSubmit()" #f="ngForm">
								<div class="form-group">
									<div class="position-relative has-icon-left">
										<label for="exampleInputEmailAddress" class="sr-only">Dirección de Email</label>
										<input type="text" id="exampleInputEmailAddress" class="form-control" placeholder="Dirección de Email">
										<div class="form-control-position"> <i class="icon-envelope-open"></i>
										</div>
									</div>
								</div>
								<button type="button" class="btn btn-light btn-block mt-3">Password Reset</button>
								<div class="clearfix"></div>
								<div class="text-center pt-3">
									<hr>
									<p class="text-warning">Volver al <a href="javascript:;" (click)="onSignin2()"> inicio de sesión</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--wrapper-->
