<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-12 col-lg-4 col-xl-4">
				<div class="input-group">
					<div class="input-group-prepend"> <span class="input-group-text">Buscar</span>
					</div>
					<input type="text" class="form-control" placeholder="Buscar por catalogos" (keyup)='updateFilter($event)' style='width:30%;'>
					<div class="input-group-append"> <span class="input-group-text"><i class="fa fa-search"></i></span></div>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-xl-4">
			</div>
			<div class="col-12 col-lg-4 col-xl-4">
				<div ngbDropdown class="btn-group m-1 float-sm-right" >
					<button type="button" class="btn btn-light"  (click) ="open()"><i class="fa fa-file"></i><span> <a > Nuevo</a></span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ***** Encabezado ***** -->
<div class="row">
	<div class="col-sm-3">
		<div class="input-group">
			<div ngbDropdown class="input-group-prepend">
				<button class="btn btn-light" type="button" id="tipoP" ngbDropdownToggle>Persona Moral</button>
				<div ngbDropdownMenu aria-labelledby="tipoP">
					<a ngbDropdownItem  (click)="Total()" > </a>
					<div role="separator" class="dropdown-divider"></div>
					<a ngbDropdownItem  (click)="Fisica()" >Persona Fisica</a>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="col-sm-12 mb-4">
		<ngx-datatable class='bootstrap selection-cell' *ngFor="let dom of domicilio;let i=index;" [selected]="selected" [rows]='rows' [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" style='cursor:pointer;' [selectionType]="'cell'" (select)="onSelect($event)" (activate)="onActivate($event)" (dblclick) = "doubleClicked($event)">
			<ngx-datatable-column name="ID"  >{{dom.Id}}</ngx-datatable-column>
			<ngx-datatable-column name="Empresa" >{{dom.TipoDom}}</ngx-datatable-column>
			<ngx-datatable-column name="Cliente" >{{dom.Calle}}</ngx-datatable-column>
			<ngx-datatable-column name="RFC"  >{{dom.NoEx}}</ngx-datatable-column>
			<ngx-datatable-column name="Empresa"  >{{dom.NoIn}}</ngx-datatable-column>
			<ngx-datatable-column name="Estatus" >{{dom.CodPos}}</ngx-datatable-column>
			<ngx-datatable-column name="Sucursal" >{{dom.Colonia}}</ngx-datatable-column>
			<ngx-datatable-column name="No. Sucursal"  >{{dom.Municipio}}</ngx-datatable-column>
		</ngx-datatable>
	</div>
<!-- Filter Datatable Options Ends -->
</div>