<div class="modal fade" id="largesizemodal1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-light-2">
        <h5 class="modal-title text-white">Información</h5>
      </div>
      <div class="modal-body">
        <div >
          <table border="0" span="0" class="table table-borderless table-striped"  style=" border:0px; box-shadow:3px 3px 3px 3px rgba(0,0,0,0.25);">
            <thead >
            <tr>
              <td>Clave de Error: </td>
              <td>Error: </td>
              <td>Descripcion de error: </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agregar4 of arreglo">
              <td>{{agregar4.errorClave}}</td>
              <td>{{agregar4.errorSp}}</td>
              <td>{{agregar4.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let ecoborrar of arreglob">
              <td>{{ecoborrar.errorClave}}</td>
              <td>{{ecoborrar.errorSp}}</td>
              <td>{{ecoborrar.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let agregar6 of arreglo2">
              <td>{{agregar6.errorClave}}</td>
              <td>{{agregar6.errorSp}}</td>
              <td>{{agregar6.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let perborrar of arreglo2b">
              <td>{{perborrar.errorClave}}</td>
              <td>{{perborrar.errorSp}}</td>
              <td>{{perborrar.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let agregar5 of arreglo3">
              <td>{{agregar5.errorClave}}</td>
              <td>{{agregar5.errorSp}}</td>
              <td>{{agregar5.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let comborrar of arreglo3b">
              <td>{{comborrar.errorClave}}</td>
              <td>{{comborrar.errorSp}}</td>
              <td>{{comborrar.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let agregar8 of arreglo4">
              <td>{{agregar8.errorClave}}</td>
              <td>{{agregar8.errorSp}}</td>
              <td>{{agregar8.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let proborrar of arreglo4b">
              <td>{{proborrar.errorClave}}</td>
              <td>{{proborrar.errorSp}}</td>
              <td>{{proborrar.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let agregar7 of arreglo5">
              <td>{{agregar7.errorClave}}</td>
              <td>{{agregar7.errorSp}}</td>
              <td>{{agregar7.errorDescripcion}}</td>
            </tr>

            <tr *ngFor="let banborrar of arreglo5b">
              <td>{{banborrar.errorClave}}</td>
              <td>{{banborrar.errorSp}}</td>
              <td>{{banborrar.errorDescripcion}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer border-light-2">
        <button type="button" class="btn btn-link text-white" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
      </div>
    </div>
  </div>
</div>
                <div class="row" [ngbCollapse]="isCollapsedEco3">
                  <div class="col-12 col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="page-title">Actividad Económica</h6>
                        <hr>
                        <form action="#">
                        <div class="row">
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Actividad Económica</label>
                              <div class="col-sm-6">
                                <select [disabled]="disabled1" [attr.aria-expanded]="disabled1 ? 'disabled1' : ''" class="form-control form-control-sm" name="act_economica" id="act_economica" [(ngModel)]="eco.ActividadEconomica">
                                  <option *ngFor="let ctAE of ctActeco" [value]="ctAE.catalogo_cve">{{ctAE.desc_45}}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Actividad Detallada </label>
                              <div class="col-sm-6">
                                <select [disabled]="disabled2" [attr.aria-expanded]="disabled2 ? 'disabled2' : ''" class="form-control form-control-sm" name="act_detallada" id="act_detallada"  [(ngModel)]="eco.ActividadDetallada">
                                  <option selected>Seleccione la actividad ...</option>
                                  <option>Otros Servicios Profesionales </option>
                                  <option>Otros Servicios Profesionales </option>
                                  <option>Otros Servicios Profesionales </option>
                                  <option>Otros Servicios Profesionales </option>
                                  <option>Otros Servicios Profesionales </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Ingresos Mensuales </label>
                              <div class="col-sm-6 input-group">
                                <input [disabled]="disabled3" [attr.aria-expanded]="disabled3 ? 'disabled3' : ''" type="text" class="form-control" name="ing_mes" id="ing_mes" placeholder=" 0.00"  [(ngModel)]="eco.IngresoMensual">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-success">Otros Ingresos Mensuales  </label>
                              <div class="col-sm-6 input-group">
                                <input [disabled]="disabled4" [attr.aria-expanded]="disabled4 ? 'disabled4' : ''" type="text" class="form-control" name="OtroIngresoMensual" id="OtroIngresoMensual" placeholder=" 0.00"  [(ngModel)]="eco.OtroIngresoMensual">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Gastos Mensuales </label>
                              <div class="col-sm-6 input-group">
                                <input [disabled]="disabled5" [attr.aria-expanded]="disabled5 ? 'disabled5' : ''" type="text" class="form-control" name="GastosMensuales" id="GastosMensuales" placeholder=" 0.00"  [(ngModel)]="eco.GastosMensuales">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Flujo de Efectivo </label>
                              <div class="col-sm-6">
                                <input [disabled]="disabled6" [attr.aria-expanded]="disabled6 ? 'disabled6' : ''" type="text" class="form-control" name="FlujoEfectivo" id="FlujoEfectivo" placeholder=" 0.00"  [(ngModel)]="eco.FlujoEfectivo">
                              </div>
                            </div>
                          </div>
                          <div class="col-1 col-lg-4 col-xl-4">
                          </div>
                          <div  class="col-1 col-lg-4 col-xl-4">
                          </div>
                          <div  class="col-1 col-lg-1 col-xl-2">
                            <button  [disabled]="disabled7"  [attr.aria-expanded]="disabled7 ? 'disabled7' : ''" (click)="Insert()" type="submit" class="btn btn-light  btn-block" >Insertar</button>
                          </div>
                          <div [ngbCollapse]="isCollapsed1" class="col-1 col-lg-1 col-xl-2">
                          <button data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)="Economica()" (click)="Insert()" type = "reset" >Guardar</button>
                          </div>
                          </div>
                       </form>
                      </div>
                    </div>
                    <div class="row">
                    <div  class="col-2 col-lg-2 col-xl-2">
                      <button type="submit" class="btn btn-light  btn-block" (click)="obtenerActividadEco()" >Actualizar</button>
                    </div>
                      <div  class="col-6 col-lg-6 col-xl-6">
                      </div>
                    <div  class="col-4 col-lg-4 col-xl-4">
                      <label>Listado de Actividad economica</label>
                    </div>
                    </div>
                    <div class="card">
                      <table class="table table-striped text-center " style="width:auto; height:5px;" >
                        <thead >
                        <th>Numero Cliente</th>
                        <th>Actividad Economica</th>
                        <th>Actividad Detallada</th>
                        <th>Ingreso Mensual</th>
                        <th>Otro Ingreso Mensual</th>
                        <th>Gastos Mensuales</th>
                        <th>Flujo de Efectivo</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let eco of arreglo;let i=index;" >
                          <td scope="row" >{{eco.Id}}</td>
                          <td scope="row" >{{eco.ActividadEconomica}}</td>
                          <td>{{eco.ActividadDetallada}}</td>
                          <td>{{eco.IngresoMensual}}</td>
                          <td>{{eco.OtroIngresoMensual}}</td>
                          <td>{{eco.GastosMensuales}}</td>
                          <td>{{eco.FlujoEfectivo}}</td>
                          <td>
                            <a data-toggle="modal" data-target="#largesizemodal3" class="btn btn-sm btn-info text-white" (click)= "isCollapsedEco2 = !isCollapsedEco2" (click)= "isCollapsedEco3 = !isCollapsedEco3" (click)= "EconomicaConsultar(eco)" ><i class="fa fa-pencil"></i></a>
                            <a data-toggle="modal" data-target="#largesizemodal1" class="btn btn-sm btn-danger text-white ml-1" (click)= "EconomicaBorrar(eco)" ><i class="fa fa-trash"></i></a></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
<!-- CONSULTA-->
<form action="#" >
  <div class="row" [ngbCollapse]="isCollapsedEco2" >
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="page-title">Actividad Económica</h6>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Actividad Económica</label>
                <div class="col-sm-6">
                  <select class="form-control form-control-sm" name="act_economicaMod" id="act_economicaMod" value = "{{ActividadEconomica}}" [(ngModel)]="ecoMod.ActividadEconomica">
                    <option *ngFor="let ctAE of ctActeco" [value]="ctAE.catalogo_cve">{{ctAE.desc_45}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Actividad Detallada </label>
                <div class="col-sm-6">
                  <select  class="form-control form-control-sm" name="act_detalladaMod" id="act_detalladaMod" value = "{{ActividadDetallada}}" [(ngModel)]="ecoMod.ActividadDetallada">
                    <option>Otros Servicios Profesionales </option>
                    <option>Otros Servicios Profesionales </option>
                    <option>Otros Servicios Profesionales </option>
                    <option>Otros Servicios Profesionales </option>
                    <option>Otros Servicios Profesionales </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Ingresos Mensuales </label>
                <div class="col-sm-6 input-group">
                  <input  type="text" class="form-control" name="ing_mesMod" id="ing_mesMod" value = "{{IngresoMensual}}" placeholder=" 0.00"  [(ngModel)]="ecoMod.IngresoMensual">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label  class="col-sm-5 col-form-success">Otros Ingresos Mensuales  </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" name="OtroIngresoMensualMod" id="OtroIngresoMensualMod"  value = "{{OtroIngresoMensual}}" placeholder=" 0.00"  [(ngModel)]="ecoMod.OtroIngresoMensual">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Gastos Mensuales </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" name="GastosMensualesMod" id="GastosMensualesMod" value = "{{GastosMensuales}}" placeholder=" 0.00"  [(ngModel)]="ecoMod.GastosMensuales">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Flujo de Efectivo </label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="FlujoEfectivoMod" id="FlujoEfectivoMod" value = "{{FlujoEfectivo}}" placeholder=" 0.00"  [(ngModel)]="ecoMod.FlujoEfectivo">
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-4 col-xl-4">
            </div>
            <div  class="col-1 col-lg-4 col-xl-4">
            </div>
            <div  class="col-1 col-lg-1 col-xl-2">
            </div>
            <!-- Botones de guardar -->
            <div  class="col-1 col-lg-1 col-xl-2">
              <button type="submit" class="btn btn-light  btn-block" (click)= "isCollapsedEco2 = !isCollapsedEco2" (click)= "isCollapsedEco3 = !isCollapsedEco3" (click)= "EconomicaMod()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- FIN CONSULTA-->
                <div class="row" [ngbCollapse]="isCollapsedPer3" >
                  <div class="col-12 col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="page-title">Referencias Personales</h6>
                        <hr>
                        <form action="#">
                        <div class="row">
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Nombre Completo</label>
                              <div class="col-sm-6">
                                <input [disabled]="disabledPer1" [attr.aria-expanded]="disabledPer1 ? 'disabledPer1' : ''" type="text" class="form-control" name="NombreRefPer" id="NombreRefPer"  placeholder="Nombre" [(ngModel)]="personales.NombreRefPer">
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-success">Tipo Relación  </label>
                              <div class="col-sm-6">
                                <select [disabled]="disabledPer2" [attr.aria-expanded]="disabledPer2 ? 'disabledPer2' : ''" class="form-control form-control-sm" name="TipoRelacionRefPer" id="TipoRelacionRefPer"  [(ngModel)]="personales.TipoRelacionRefPer">
                                  <option>Seleccione el tipo ..</option>
                                  <option>Option 1</option>
                                  <option>Option 2</option>
                                  <option>Option 3</option>
                                  <option>Option 4</option>
                                  <option>Option 5</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Teléfono(s) </label>
                              <div class="col-sm-6 input-group">
                                <input [disabled]="disabledPer3" [attr.aria-expanded]="disabledPer3 ? 'disabledPer3' : ''" type="text" class="form-control" name="TelefonoRefPer" id="TelefonoRefPer"  placeholder="55.5555.5555" [(ngModel)]="personales.TelefonoRefPer">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-1 col-lg-4 col-xl-4">
                          </div>
                          <div  class="col-1 col-lg-4 col-xl-4">
                          </div>
                          <div  class="col-1 col-lg-1 col-xl-2">
                            <button  [disabled]="disabledPer4"  [attr.aria-expanded]="disabledPer4 ? 'disabledPer4' : ''" (click)="Insert2()" type="submit" class="btn btn-light  btn-block" >Insertar</button>
                          </div>
                          <div [ngbCollapse]="isCollapsedPer1" class="col-1 col-lg-1 col-xl-2">
                            <button data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)="Insert2()" (click)="Personales()"  type = "reset" >Guardar</button>
                          </div>
                        </div>
                        </form>
                      </div>
                    </div>
                    <div class="row">
                      <div  class="col-2 col-lg-2 col-xl-2">
                        <button type="submit" class="btn btn-light  btn-block" (click)="obtenerPersonales()" >Actualizar</button>
                      </div>
                      <div  class="col-6 col-lg-6 col-xl-6">
                      </div>
                      <div  class="col-4 col-lg-4 col-xl-4">
                        <label>Listado de Referencias Personales</label>
                      </div>
                    </div>
                    <div class="card">
                      <table class="table table-striped text-center " style="width:auto; height:5px;" >
                        <thead >
                        <th>Numero Cliente</th>
                        <th>Consecutivo</th>
                        <th>Nombre Completo</th>
                        <th>Telefono</th>
                        <th>Tipo de Relacion</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let personales of arreglo2;let i=index;" >
                          <td scope="row" >{{personales.Id}}</td>
                          <td scope="row" >{{personales.Consecutivo}}</td>
                          <td>{{personales.NombreRefPer}}</td>
                          <td>{{personales.TelefonoRefPer}}</td>
                          <td>{{personales.TipoRelacionRefPer}}</td>
                          <td>
                            <a data-toggle="modal" data-target="#largesizemodal3" class="btn btn-sm btn-info text-white" (click)= "isCollapsedPer2 = !isCollapsedPer2" (click)= "isCollapsedPer3 = !isCollapsedPer3" (click)= "PersonalesConsultar(personales)" ><i class="fa fa-pencil"></i></a>
                            <a data-toggle="modal" data-target="#largesizemodal1" class="btn btn-sm btn-danger text-white ml-1" (click)= "PersonalesBorrar(personales)" ><i class="fa fa-trash"></i></a></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
<!-- CONSULTA-->
<form action="#" >
  <div class="row" [ngbCollapse]="isCollapsedPer2" >
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="page-title">Referencias Personales</h6>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Nombre Completo</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="NombreRefPerMod" id="NombreRefPerMod" value = "{{NombreRefPer}}"  placeholder="Nombre" [(ngModel)]="personalesMod.NombreRefPer">
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label class="col-sm-5 col-form-success">Tipo Relación  </label>
                <div class="col-sm-6">
                  <select class="form-control form-control-sm" name="TipoRelacionRefMod" id="TipoRelacionRefMod" value = "{{TipoRelacionRefPer}}"  [(ngModel)]="personalesMod.TipoRelacionRefPer">
                    <option>Seleccione el tipo ..</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Teléfono(s) </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" name="TelefonoRefMod" id="TelefonoRefMod" value = "{{TelefonoRefPer}}" placeholder="55.5555.5555" [(ngModel)]="personalesMod.TelefonoRefPer">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-4 col-xl-4">
            </div>
            <div  class="col-1 col-lg-4 col-xl-4">
            </div>
            <div class="col-1 col-lg-1 col-xl-2">
              <button data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)= "isCollapsedPer2 = !isCollapsedPer2" (click)= "isCollapsedPer3 = !isCollapsedPer3" (click)= "PersonalesMod()" type = "reset" >Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- FIN CONSULTA-->
              <div class="row" [ngbCollapse]="isCollapsedCom3">
                <div class="col-12 col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="page-title">Referencias Comerciales</h6>
                      <hr>
                      <form action="#" >
                      <div class="row">
                        <div class="col-5 col-lg-4 col-xl-4">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Nombre del Proveedor</label>
                            <div class="col-sm-6">
                              <input [disabled]="disabledCom1" [attr.aria-expanded]="disabledCom1 ? 'disabledCom1' : ''" type="text" class="form-control" id="com_name_provider" name="NombreRefCom" placeholder="Nombre del Proveedor" [(ngModel)]="comerciales.NombreRefCom" >
                            </div>
                          </div>
                        </div>
                        <div class="col-5 col-lg-4 col-xl-4">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Limite Crédito </label>
                            <div class="col-sm-6 input-group">
                              <input [disabled]="disabledCom2" [attr.aria-expanded]="disabledCom2 ? 'disabledCom2' : ''" type="text" class="form-control" id="com_credit_limit" name="LimiteCreditoRefCom" placeholder=" 0.00 " [(ngModel)]="comerciales.LimiteCreditoRefCom">
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-5 col-lg-4 col-xl-4">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Saldo de Cuenta </label>
                            <div class="col-sm-6 input-group">
                              <input [disabled]="disabledCom3" [attr.aria-expanded]="disabledCom3 ? 'disabledCom3' : ''" type="text" class="form-control" id="com_credit_balance" name = "SaldoCuentaRefCom" placeholder=" 0.00 " [(ngModel)]="comerciales.SaldoCuentaRefCom">
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 col-lg-4 col-xl-4">
                        </div>
                        <div  class="col-1 col-lg-4 col-xl-4">
                        </div>
                        <div  class="col-1 col-lg-1 col-xl-2">
                          <button  [disabled]="disabledCom4"  [attr.aria-expanded]="disabledCom4 ? 'disabledCom4' : ''" (click)="Insert3()" type="submit" class="btn btn-light  btn-block" >Insertar</button>
                        </div>
                        <div [ngbCollapse]="isCollapsedCom1" class="col-1 col-lg-1 col-xl-2">
                          <button data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)="Comerciales()" (click)="Insert3()" type = "reset" >Guardar</button>
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div  class="col-2 col-lg-2 col-xl-2">
                      <button type="submit" class="btn btn-light  btn-block" (click)="obtenerComerciales()" >Actualizar</button>
                    </div>
                    <div  class="col-6 col-lg-6 col-xl-6">
                    </div>
                    <div  class="col-4 col-lg-4 col-xl-4">
                      <label>Listado de Referencias Comerciales</label>
                    </div>
                  </div>
                  <div class="card">
                    <table class="table table-striped text-center " style="width:auto; height:5px;" >
                      <thead >
                      <th>Numero Cliente</th>
                      <th>Consecutivo</th>
                      <th>Nombre Completo</th>
                      <th>Limite de Credito</th>
                      <th>Saldo de Cuenta</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let comerciales of arreglo3;let i=index;" >
                        <td scope="row" >{{comerciales.Id}}</td>
                        <td scope="row" >{{comerciales.Consecutivo}}</td>
                        <td>{{comerciales.NombreRefCom}}</td>
                        <td>{{comerciales.LimiteCreditoRefCom}}</td>
                        <td>{{comerciales.SaldoCuentaRefCom}}</td>
                        <td>
                          <a data-toggle="modal" data-target="#largesizemodal3" class="btn btn-sm btn-info text-white" (click)= "isCollapsedCom2 = !isCollapsedCom2" (click)= "isCollapsedCom3 = !isCollapsedCom3" (click)= "ComercialesConsultar(comerciales)" ><i class="fa fa-pencil"></i></a>
                          <a data-toggle="modal" data-target="#largesizemodal1" class="btn btn-sm btn-danger text-white ml-1" (click)= "ComercialesBorrar(comerciales)" ><i class="fa fa-trash"></i></a></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
<!-- CONSULTA-->
<form action="#" >
  <div class="row" [ngbCollapse]="isCollapsedCom2" >
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="page-title">Referencias Comerciales</h6>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Nombre del Proveedor</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="com_name_providerMod" name="com_name_providerMod"  value = "{{NombreRefCom}}" placeholder="Nombre del Proveedor" [(ngModel)]="comercialesMod.NombreRefCom" >
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Limite Crédito </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" id="com_credit_limitMod" name="com_credit_limitMod" value = "{{LimiteCreditoRefCom}}" placeholder=" 0.00 " [(ngModel)]="comercialesMod.LimiteCreditoRefCom">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Saldo de Cuenta </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" id="com_credit_balanceMod" name = "com_credit_balanceMod" value = "{{SaldoCuentaRefCom}}" placeholder=" 0.00 " [(ngModel)]="comercialesMod.SaldoCuentaRefCom">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-4 col-xl-4">
            </div>
            <div  class="col-1 col-lg-4 col-xl-4">
            </div>
            <div class="col-1 col-lg-1 col-xl-2">
              <button data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)= "isCollapsedCom2 = !isCollapsedCom2" (click)= "isCollapsedCom3 = !isCollapsedCom3" (click)="ComercialesMod()"  type = "reset" >Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- FIN CONSULTA-->
              <div class="row" [ngbCollapse]="isCollapsedPro3">
                <div class="col-12 col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="page-title">Referencias Proveedores</h6>
                      <hr>
                      <form action="#" >
                      <div class="row">
                        <div class="col-5 col-lg-4 col-xl-4">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Nombre Completo</label>
                            <div class="col-sm-6">
                              <input [disabled]="disabledPro1" [attr.aria-expanded]="disabledPro1 ? 'disabledPro1' : ''" type="text" class="form-control" name="NombreProvee" id="NombreProvee"  placeholder="Nombre Completo" [(ngModel)]="proveedores.NombreProvee">
                            </div>
                          </div>
                        </div>
                        <div class="col-5 col-lg-4 col-xl-4">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Límite Crédito</label>
                            <div class="col-sm-6">
                              <input [disabled]="disabledPro2" [attr.aria-expanded]="disabledPro2 ? 'disabledPro2' : ''" type="text" class="form-control" name="LimiteCreditoProvee" id="LimiteCreditoProvee" placeholder="Referencia Personal" [(ngModel)]="proveedores.LimiteCreditoProvee" >
                            </div>
                          </div>
                        </div>
                        <div class="col-5 col-lg-4 col-xl-4">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Saldo Crédito </label>
                            <div class="col-sm-6 input-group">
                              <input [disabled]="disabledPro3" [attr.aria-expanded]="disabledPro3 ? 'disabledPro3' : ''" type="text" class="form-control" name="SaldoCuentaProvee" id="SaldoCuentaProvee"  placeholder=" 0.00" [(ngModel)]="proveedores.SaldoCuentaProvee">
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 col-lg-4 col-xl-4">
                        </div>
                        <div  class="col-1 col-lg-4 col-xl-4">
                        </div>
                        <div  class="col-1 col-lg-1 col-xl-2">
                          <button  [disabled]="disabledPro4"  [attr.aria-expanded]="disabledPro4 ? 'disabledPro4' : ''" (click)="Insert4()" type="submit" class="btn btn-light  btn-block" >Insertar</button>
                        </div>
                        <div [ngbCollapse]="isCollapsedPro1" class="col-1 col-lg-1 col-xl-2">
                          <button  data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)="Proveedores()" (click)="Insert4()"type = "reset" >Guardar</button>
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div  class="col-2 col-lg-2 col-xl-2">
                  <button type="submit" class="btn btn-light  btn-block" (click)="obtenerProveedores()" >Actualizar</button>
                </div>
                <div  class="col-6 col-lg-6 col-xl-6">
                </div>
                <div  class="col-4 col-lg-4 col-xl-4">
                  <label>Listado de Referencias Proveedores</label>
                </div>
              </div>
              <div class="card">
                <table class="table table-striped text-center " style="width:auto; height:5px;" >
                  <thead >
                  <th>Numero Cliente</th>
                  <th>Consecutivo</th>
                  <th>Nombre Completo</th>
                  <th>Limite de Credito</th>
                  <th>Saldo de Cuenta</th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let proveedores of arreglo4;let i=index;" >
                    <td scope="row" >{{proveedores.Id}}</td>
                    <td scope="row" >{{proveedores.Consecutivo}}</td>
                    <td>{{proveedores.NombreProvee}}</td>
                    <td>{{proveedores.LimiteCreditoProvee}}</td>
                    <td>{{proveedores.SaldoCuentaProvee}}</td>
                    <td>
                      <a data-toggle="modal" data-target="#largesizemodal3" class="btn btn-sm btn-info text-white" (click)= "isCollapsedPro2 = !isCollapsedPro2" (click)= "isCollapsedPro3 = !isCollapsedPro3" (click)= "ProveedoresConsultar(proveedores)" ><i class="fa fa-pencil"></i></a>
                      <a data-toggle="modal" data-target="#largesizemodal1" class="btn btn-sm btn-danger text-white ml-1" (click)= "ProveedoresBorrar(proveedores)" ><i class="fa fa-trash"></i></a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
<!-- CONSULTA-->
<form action="#" >
  <div class="row" [ngbCollapse]="isCollapsedPro2" >
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="page-title">Referencias Proveedores</h6>
          </div>
          <hr>
          <div class="col-5 col-lg-4 col-xl-4">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Nombre Completo</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="NombreProveePro" id="NombreProveePro" value = "{{NombreProvee}}" placeholder="Nombre Completo" [(ngModel)]="proveedoresMod.NombreProvee">
              </div>
            </div>
          </div>
          <div class="col-5 col-lg-4 col-xl-4">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Límite Crédito</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="LimiteCreditoProveePro" id="LimiteCreditoProveePro" value = "{{LimiteCreditoProvee}}" placeholder="Referencia Personal" [(ngModel)]="proveedoresMod.LimiteCreditoProvee" >
              </div>
            </div>
          </div>
          <div class="col-5 col-lg-4 col-xl-4">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Saldo Crédito </label>
              <div class="col-sm-6 input-group">
                <input  type="text" class="form-control" name="SaldoCuentaProveePro" id="SaldoCuentaProveePro" value = "{{SaldoCuentaProvee}}" placeholder=" 0.00" [(ngModel)]="proveedoresMod.SaldoCuentaProvee">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
            <div class="col-1 col-lg-4 col-xl-4">
            </div>
            <div  class="col-1 col-lg-4 col-xl-4">
            </div>
            <div class="col-1 col-lg-1 col-xl-2">
              <button data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)= "isCollapsedPro2 = !isCollapsedPro2" (click)= "isCollapsedPro3 = !isCollapsedPro3" (click)="ProveedoresMod()"  type = "reset" >Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
<!-- FIN CONSULTA-->
                <div class="row" [ngbCollapse]="isCollapsedBan3">
                  <div class="col-12 col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="page-title">Referencias Bancarias</h6>
                        <hr>
                        <form action="#" >
                        <div class="row">
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Institucion </label>
                              <div class="col-sm-6 input-group">
                                <input [disabled]="disabledBan1" [attr.aria-expanded]="disabledBan1 ? 'disabledBan1' : ''" type="text" class="form-control" name="InstitucionRefBan"  id="InstitucionRefBan"  [(ngModel)]="bancarias.InstitucionRefBan">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Saldo Crédito </label>
                              <div class="col-sm-6 input-group">
                                <input [disabled]="disabledBan2" [attr.aria-expanded]="disabledBan2 ? 'disabledBan2' : ''" type="text" class="form-control" name="SaldoCuentaRefBan" id="SaldoCuentaRefBan"  placeholder=" 0.00" [(ngModel)]="bancarias.SaldoCuentaRefBan">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Límite Crédito </label>
                              <div class="col-sm-6 input-group">
                                <input [disabled]="disabledBan3" [attr.aria-expanded]="disabledBan3 ? 'disabledBan3' : ''" type="text" class="form-control" name="LimiteCreditoRefBan"  id="LimiteCreditoRefBan" placeholder=" 0.00" [(ngModel)]="bancarias.LimiteCreditoRefBan">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Antigüedad </label>
                              <div class="col-sm-6 input-group">
                                <input [disabled]="disabledBan4" [attr.aria-expanded]="disabledBan4 ? 'disabledBan4' : ''" type="text" class="form-control" name="AntiguedadRefBan"  id="AntiguedadRefBan" [(ngModel)]="bancarias.AntiguedadRefBan">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div  class="col-1 col-lg-4 col-xl-4">
                          </div>
                          <div  class="col-1 col-lg-1 col-xl-2">
                            <button  [disabled]="disabledBan5"  [attr.aria-expanded]="disabledBan5 ? 'disabledBan5' : ''" (click)="Insert5()" type="submit" class="btn btn-light  btn-block" >Insertar</button>
                          </div>
                          <div [ngbCollapse]="isCollapsedBan1" class="col-1 col-lg-1 col-xl-2">
                            <button data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)="Bancarias()" (click)="Insert5()" type = "reset" >Guardar</button>
                          </div>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div  class="col-2 col-lg-2 col-xl-2" [ngbCollapse]="isCollapsedBan3">
                    <button type="submit" class="btn btn-light  btn-block" (click)="obtenerBancarias()" >Actualizar</button>
                  </div>
                    <div  class="col-6 col-lg-6 col-xl-6">
                      </div>
                  <div  class="col-4 col-lg-4 col-xl-4">
                      <label>Listado de Referencias Bancarias</label>
                  </div>
                </div>
            <div class="card" [ngbCollapse]="isCollapsedBan3">
                  <table class="table table-striped text-center " style="width:auto; height:5px;" >
                    <thead >
                        <th>Numero Cliente</th>
                        <th>Consecutivo</th>
                        <th>Nombre Completo</th>
                        <th>Antigüedad</th>
                        <th>Limite de Credito</th>
                        <th>Saldo de Cuenta</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bancarias of arreglo5;let i=index;" >
                    <td scope="row" >{{bancarias.Id}}</td>
                     <td scope="row" >{{bancarias.Consecutivo}}</td>
                      <td>{{bancarias.InstitucionRefBan}}</td>
                      <td>{{bancarias.AntiguedadRefBan}}</td>
                    <td>{{bancarias.LimiteCreditoRefBan}}</td>
                    <td>{{bancarias.SaldoCuentaRefBan}}</td>
                    <td>
                    <a data-toggle="modal" data-target="#largesizemodal3" class="btn btn-sm btn-info text-white" (click)= "isCollapsedBan2 = !isCollapsedBan2" (click)= "isCollapsedBan3 = !isCollapsedBan3" (click)= "BancariasConsultar(bancarias)" ><i class="fa fa-pencil"></i></a>
                    <a data-toggle="modal" data-target="#largesizemodal1" class="btn btn-sm btn-danger text-white ml-1" (click)= "BancariasBorrar(bancarias)" ><i class="fa fa-trash"></i></a></td>
                </tr>
              </tbody>
              </table>
                </div>
<!-- CONSULTA-->
<form action = "#">
  <div class="row" [ngbCollapse]="isCollapsedBan2" >
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="page-title">Referencias Bancarias</h6>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Institucion </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" name="InstitucionRefBanMod"  id="InstitucionRefBanMod" value = "{{InstitucionRefBan}}"  [(ngModel)]="bancariasMod.InstitucionRefBan">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Saldo Crédito </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" name="SaldoCuentaRefBanMod" id="SaldoCuentaRefBanMod" value = "{{SaldoCuentaRefBan}}"  placeholder=" 0.00" [(ngModel)]="bancariasMod.SaldoCuentaRefBan">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Límite Crédito </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" name="LimiteCreditoRefBanMod"  id="LimiteCreditoRefBanMod" value = "{{LimiteCreditoRefBan}}" placeholder=" 0.00" [(ngModel)]="bancariasMod.LimiteCreditoRefBan">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-4 col-xl-4">
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Antigüedad </label>
                <div class="col-sm-6 input-group">
                  <input type="text" class="form-control" name="AntiguedadRefBanMod"  id="AntiguedadRefBanMod" value = "{{AntiguedadRefBan}}" [(ngModel)]="bancariasMod.AntiguedadRefBan">
                  <div class="input-group-append">
                  </div>
                </div>
              </div>
            </div>
          <div class="col-1 col-lg-4 col-xl-4">
          </div>
          <div  class="col-1 col-lg-4 col-xl-4">
          </div>
          <div class="col-1 col-lg-1 col-xl-2">
            <button data-toggle="modal" data-target="#largesizemodal1" type="submit" class="btn btn-light  btn-block" (click)= "isCollapsedBan2 = !isCollapsedBan2" (click)= "isCollapsedBan3 = !isCollapsedBan3" (click)="BancariasMod()"  type = "reset" >Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>
<!-- FIN CONSULTA-->