

<div class="row">
  <div class="col-lg-12">
    <div class="modal fade" id="largesizemodal">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-light-2">
            <h5 class="modal-title text-white">Información</h5>
          </div>
          <div class="modal-body">
            <div >
              <table border="0" span="0" class="table table-borderless table-striped"  style=" border:0px; box-shadow:3px 3px 3px 3px rgba(0,0,0,0.25);">
                <thead >
                <tr>
                  <td>Clave de Error: </td>
                  <td>Error: </td>
                  <td>Descripcion de Error: </td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let retorno2 of cliente">
                  <td>{{retorno2.errorClave}}</td>
                  <td>{{retorno2.errorSp}}</td>
                  <td>{{retorno2.errorDescripcion}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer border-light-2">
            <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" type="button" class="btn btn-link text-white" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
              <form action="#">
                <div class="row">
                  <div class="col-12 col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="page-title">Datos Generales</h6>
                        <hr>
                        <div class="row">
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Número Cliente </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="NumeroCLiente" id="NumeroCLiente"   value="0" readonly [(ngModel)]="general.Id">
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Estatus del Cliente </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="EstatusCliente" id="EstatusCliente"  [(ngModel)]="general.EstatusCliente" value="Prospecto" placeholder="Prospecto" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Sucursal</label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="Sucursal" id="Sucursal" required [(ngModel)]="general.Sucursal" [(ngModel)]="Val.Sucursal">
                                  <option selected>Seleccione la sucursal ...</option>
                                  <option>Oficina Matriz</option>
                                  <option>Ciudad de México</option>
                                  <option>Queretaro</option>
                                  <option>Puebla</option>
                                  <option>Estado de México </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Primer Nombre </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="PrimerNombre" id="PrimerNombre" [(ngModel)]="general.PrimerNombre" [(ngModel)]="Val.PrimerNombre" placeholder="Primer Nombre" required>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Segundo Nombre </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="SegundoNombre" id="SegundoNombre" [(ngModel)]="general.SegundoNombre" [(ngModel)]="Val.SegundoNombre" placeholder="Segundo Nombre" >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Apellido Paterno </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="ApellidoPaterno" id="ApellidoPaterno" [(ngModel)]="general.ApellidoPaterno" [(ngModel)]="Val.ApellidoPaterno" placeholder="Apellido Paterno" >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Apellido Materno </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="ApellidoMaterno" id="ApellidoMaterno" [(ngModel)]="general.ApellidoMaterno" [(ngModel)]="Val.ApellidoMaterno" placeholder="Apellido Materno">
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Promotor</label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="ClavePromotor" id="ClavePromotor" required [(ngModel)]="general.ClavePromotor">
                                  <option selected>Seleccione al promotor ...</option>
                                  <option>Director General</option>
                                  <option>Director Finanzas</option>
                                  <option>Director Promotor</option>
                                  <option>Director Crédito</option>
                                  <option>Director Operaciones</option>
                                  <option>Director Auditoria </option>
                                  <option>Subdirector Promoción </option>
                                  <option>Gerente Promoción </option>
                                  <option>Subgerente Promoción </option>
                                  <option>Promotor </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Fecha de Nacimiento </label>
                              <div class="col-sm-6">
                                <input type="date" class="form-control" name="FechaNacimiento" id="FechaNacimiento" [(ngModel)]="general.FechaNacimiento">
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">RFC </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="RFC" id="RFC" [(ngModel)]="Val.RFC" [(ngModel)]="general.RFC" placeholder="XXXX0000XXX00">
                              </div>
                            </div>
                          </div>
                          <div class="col-1 col-lg-2 col-xl-2">
                          </div>
                          <div class="col-1 col-lg-2 col-xl-2">
                          </div>
                          <div class="col-2 col-lg-1 col-xl-1">
                            <div [ngbCollapse]="isCollapsed" class="form-group row">
                              <button (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" data-toggle="modal" data-target="#largesizemodal" (click)="Validate()" type="submit" class="btn btn-light  btn-block" >Validar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                </div>
                <div [ngbCollapse]="isCollapsed2" class="row">
                  <div class="col-12 col-lg-12">
                    <div class="modal fade" id="largesizemodal1">
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header border-light-2">
                            <h5 class="modal-title text-white">Información</h5>
                          </div>
                          <div class="modal-body">
                            <div >
                              <table border="0" span="0" class="table table-borderless table-striped"  style=" border:0px; box-shadow:3px 3px 3px 3px rgba(0,0,0,0.25);">
                                <thead >
                                <tr>
                                  <td>Numero de Cliente: </td>
                                  <td>Clave de Error: </td>
                                  <td>Error: </td>
                                  <td>Descripcion de Error: </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let retorno of cliente">
                                  <td>{{retorno.noCliente}}</td>
                                  <td>{{retorno.errorClave}}</td>
                                  <td>{{retorno.errorSp}}</td>
                                  <td>{{retorno.errorDescripcion}}</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="modal-footer border-light-2">
                            <button type="button" class="btn btn-link text-white" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="page-title">Datos Especificos</h6>
                        <hr>
                        <div class="row">
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Sexo </label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="sexo" id="sexo" required [(ngModel)]="general.Sexo">
                                  <option selected>Seleccione el tipo de sexo ...</option>
                                  <option>Hombre</option>
                                  <option>Mujer</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Estado Civil </label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="edo_civil" id="edo_civil" required [(ngModel)]="general.EstadoCivil">
                                  <option selected>Seleccione el estado civil ...</option>
                                  <option>Casado (Sociedad Conyuge)</option>
                                  <option>Casado (Separación de Bienes)</option>
                                  <option>Soltero</option>
                                  <option>Viudo</option>
                                  <option>Union Libre</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">CURP </label>
                              <div class="col-sm-6 input-group">
                                <input type="text" class="form-control" name="curp" id="curp" placeholder=" XXXX999999XXX99999 " required [(ngModel)]="general.CURP">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Tipo Identificación </label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="tipo_identif" id="tipo_identif" required [(ngModel)]="general.TipoIdentificacion">
                                  <option selected>Seleccione el tipo identificación ...</option>
                                  <option>Credencial para Votar</option>
                                  <option>Pasaporte Nacional</option>
                                  <option>Cédula Profesional</option>
                                  <option>Cartilla Servicio Militar</option>
                                  <option>Cartilla de Identificación Militar</option>
                                  <option>Tarjeta de Identidad Militar</option>
                                  <option>Tarj. Afili. Inst. Nac. Pers. Mayore</option>
                                  <option>Credencial/Carnet del Seguro Social</option>
                                  <option>Licencia de Conductor</option>
                                  <option>Certificado de Matricula Consular</option>
                                  <option>Cred. Emitida por entidad Fed/Estat</option>
                                  <option>Pasaporte Emitido por otro Pais</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Número Identificación </label>
                              <div class="col-sm-6 input-group">
                                <input type="text" class="form-control" name="num_identif" id="num_identif" placeholder="Número Identificación " required [(ngModel)]="general.NumeroIdentificacion">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Listas Negras</label>
                              <div class="col-sm-6 input-group">
                                <input type="text" class="form-control" name="list_negra" id="list_negra" placeholder="Buscar Listas Negras" [(ngModel)]="general.ListaNegra">
                                <div class="input-group-append">
                                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-success">Profesión o Actividad</label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="profesion_actividad" id="profesion_actividad" required [(ngModel)]="general.Profesion">
                                  <option selected>Seleccione la Actividad ...</option>
                                  <option>Asalariado</option>
                                  <option>Inversionista</option>
                                  <option>Por Rentas</option>
                                  <option>Comisionista</option>
                                  <option>Servicios Profesionales</option>
                                  <option>Negocio Propio</option>
                                  <option>Económia Informal</option>
                                  <option>Otro</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Nacionalidad </label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="nacionalidad" id="nacionalidad" required [(ngModel)]="general.Nacionalidad">
                                  <option selected>Seleccione la nacionalidad ...</option>
                                  <option>México</option>
                                  <option>USA</option>
                                  <option>China</option>
                                  <option>Puerto Rico</option>
                                  <option>Japon</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Email Personal</label>
                              <div class="col-sm-6 input-group">
                                <input type="text" class="form-control" name="email_pers" id="email_pers" placeholder=" nombre@micorreo.com" [(ngModel)]="general.EmailPersonal">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Email Empresa </label>
                              <div class="col-sm-6 input-group">
                                <input type="text" class="form-control" name="email_empre" id="email_empre" placeholder=" nombre@micorreo.com"  [(ngModel)]="general.EmailEmpresa">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Parte Relacionada </label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="parte_rela" id="parte_rela" required [(ngModel)]="general.ParteRelacionada">
                                  <option selected>Seleccione parte relacionada ...</option>
                                  <option>Poseedoras de 2% o mas de los titulos representativos</option>
                                  <option>Miembros del consejo de administración</option>
                                  <option>Conyuges y personas con parentesco</option>
                                  <option>Personas con ingerencia</option>
                                  <option>Poseedores del 10% o mas de los titulos representativos</option>
                                  <option>Consejeros o administradores</option>
                                  <option>Personas con poder de mando</option>
                                  <option>No relacionado</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-success">Grupo de Vinculo al Consejo </label>
                              <div class="col-sm-6 input-group">
                                <input type="text" class="form-control" name="gpo_consejo" id="gpo_consejo" placeholder="Nombre del Grupo" required [(ngModel)]="general.GrupoConsejo">
                                <div class="input-group-append">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-success">Grupo de Riesgo Comun </label>
                              <div class="col-sm-6">
                                <select class="form-control form-control-sm" name="gpo_comun" id="gpo_comun" required [(ngModel)]="general.GrupoRiesgoComun">
                                  <option selected>Seleccione al promotor ...</option>
                                  <option>Sin Grupo</option>
                                  <option>B</option>
                                  <option>C</option>
                                  <option>D</option>
                                  <option>E</option>
                                  <option>F </option>
                                  <option>G</option>
                                  <option>H</option>
                                  <option>I</option>
                                  <option>J </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-1 col-lg-2 col-xl-2">
                          </div>
                          <div class="col-1 col-lg-2 col-xl-2">
                          </div>
                          <div [ngbCollapse]="isCollapsed3" class="col-2 col-lg-2 col-xl-2">
                            <button type="submit" class="btn btn-light  btn-block" (click) = "Cancelar()" >Cancelar</button>
                          </div>
                          <div [ngbCollapse]="isCollapsed3" class="col-2 col-lg-2 col-xl-2">
                          <button (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3" data-toggle="modal" data-target="#largesizemodal1"  (click)="General()" (click)= "typeSuccess()" type="submit" class="btn btn-light  btn-block" >Guardar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>


