<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo</th>
                <th scope="col">Documento</th>
                <th scope="col">Fecha Alta</th>
                <th scope="col">Fecha vencimiento</th>
                <th scope="col">Estatus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Identificacion</td>
                <td>Credencial de Elector</td>
                <td>5-Jun-2020</td>
                <td>7-Ago-2021</td>
                 <td>


                                            <a href="javascript:;" data-toggle="modal" data-target="#primarymodal"><i aria-hidden="true" class="fa fa-print"></i> <span class="sr-only"></span>
                                        <span class="badge badge-success m-1">Vigente</span>
                                      </a>
                                       <!--Primary Modal -->
                    <div class="modal fade" id="primarymodal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border-primary">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title text-white">Identificacion Oficial</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><img class="img-fluid" src="assets/images/gallery/IFE.jpeg" alt="Credencial de Elector"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fa fa-times"></i>Cerrar</button>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-check-square-o"></i>Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Modal -->


                 </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Comp. Domicilio</td>
                <td>Boleta Predial</td>
                <td>5-Jun-2020</td>
                <td>7-Ago-2021</td>
                <td>
                    <a href="javascript:;" data-toggle="modal" data-target="#primarymodal2"><i aria-hidden="true" class="fa fa-print"></i> <span class="sr-only"></span>
                    <span class="badge badge-success m-1">Vigente</span></a>
                    <!--Primary Modal -->
                    <div class="modal fade" id="primarymodal2">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border-primary">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title text-white">Comprobante de domicilio</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><img class="img-fluid" src="assets/images/gallery/Predial.jpeg" alt="Credencial de Elector"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fa fa-times"></i>Cerrar</button>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-check-square-o"></i>Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Modal -->

                 </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Comp. Domicilio</td>
                <td>Contrato de Luz</td>
                <td>5-Jun-2020</td>
                <td>7-Ago-2021</td>
                <td><a href="javascript:;"><i aria-hidden="true" class="fa fa-print"></i> <span class="sr-only"></span>
                    <span class="badge badge-success m-1">Vigente</span></a></td>
            </tr>
            <tr>

                <th scope="row">4</th>
                <td>Cta. Bancaria</td>
                <td>Estado de Cuenta</td>
                <td>5-Jun-2020</td>
                <td>7-Ago-2021</td>
                <td>
                    <a href="javascript:;"><i aria-hidden="true" class="fa fa-print"></i> <span class="sr-only"></span>
                      <span class="badge badge-success m-1">Vigente</span>
                    </a>
                 </td>
            </tr>

        </tbody>
    </table>
</div>
