<div class="row invoice-info">
    <div class="col-sm-2 invoice-col">
        <img class="mr-3 rounded" src="assets/images/avatars/People.png" alt="user avatar"><br>
        Fotografía
    </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Datos Generales</h4>
            No. Cliente: 00000010<br>
            Sucursal: zzzz<br>
            Promotor: YYYY
          <br>
            Fecha de Alta: 01/09/2021<br>
            Estatus del Cliente: 2<br>
            Parte Relacionada: 8<br>
            Grupo del Vinculo al Consejo: No aplica<br>
            Grupo de Riesgo Comun: 10001
        </address>
    </div>

	<div class="col-sm-4 invoice-col">
		<address>
        <h4>Datos Especificos</h4>
         Nombre Sociedad: Pollitos en Fuga, SA de CV <br>
            Razon Social: PF <br>
            R.F.C: POFU950125ABC <br>
            Nacionalidad: MX <br>
            Fecha Constitución: 25/01/1995 <br>
            Personalidad Juridica: Sociedad Anonima <br>
            Representante Legal: Paola Medina Lopez <br>
            Presidente Consejo: Marco Antonio Medina Lopez <br>
            Secretario: Paola Medina Lopez <br>
            Consejero(s): Luis Miguel Medina Lopez
        </address>
        </div>
</div>


<!---

 <div class="col-sm-3 invoice-col">
        <address>
            <h4>Datos Generales</h4>
            No. Cliente: {{ }} <br>
            Sucursal: {{ }} <br>
            Promotor: {{ }} <br>
            Fecha de Alta: {{ }} <br>
            Estatus del Cliente: {{ }} <br>
            Parte Relacionada: {{ }} <br>
            Grupo del Vinculo al Consejo: {{ }} <br>
            Grupo de Riesgo Comun: {{ }}
        </address>
    </div>

	<div class="col-sm-4 invoice-col">
		<address>
        <h4>Datos Especificos</h4>
         Nombre Sociedad: {{ }} <br>
            Razon Social: {{ }} <br>
            R.F.C: {{ }} <br>
            Nacionalidad: {{ }} <br>
            Fecha Constitución: {{ }} <br>
            Personalidad Juridica: {{ }} <br>
            Representante Legal: {{ }} <br>
            Presidente Consejo: {{ }} <br>
            Secretario: {{ }} <br>
            Consejero(s): {{ }}
        </address>
        </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Domicilio</h4>
            Calle: {{ }} <br>
            Colonia: {{ }} <br>
            Estado: {{ }} <br>
            No. Ext: {{ }} <br>
            No. Int: {{ }} <br>
            Codigo Postal: {{ }} <br>
            Municipio Localidad: {{ }} <br>
            Pais: {{ }} <br>
            Telefono: {{ }} <br>
            Extención: {{ }} <br>
            Celular: {{ }} <br>
            Email: {{ }} <br>
            Redes Sociales: {{ }} <br>

        </address>
    </div>

</div>

---->
