<div class="row invoice-info">
    <div class="col-sm-5 invoice-col">
        <address>
            <h4>Compra de Acciones</h4>
            Compra 1er Acción: ... <br>
            Parte Social Inicial: ... <br>
            Fecha de Pago: ... <br>
            Parte Social Actual: ... <br>
            Costo de Acciones: ... <br>
            Forma de Pago: ... <br>
            Retirables A: ... <br>
            Retirables B: ... <br>
            Total de Acciones: ...
        </address>
    </div>
    <div class="col-sm-5 invoice-col">
        <address>
            <h4>Compra de Acciones</h4>
            Compra 1er Acción: ... <br>
            Parte Social Inicial: ... <br>
            Fecha de Pago: ... <br>
            Parte Social Actual: ... <br>
            Costo de Acciones: ... <br>
            Forma de Pago: ... <br>
            Retirables A: ... <br>
            Retirables B: ... <br>
            Total de Acciones: ...
        </address>
    </div>
</div>
<!---
<div class="row invoice-info">
  <div class="col-sm-5 invoice-col">
    <address>
      <h4>Compra de Acciones</h4>
      Compra 1er Acción: {{ }} <br>
      Parte Social Inicial: {{ }} <br>
      Fecha de Pago: {{ }} <br>
      Parte Social Actual: {{ }} <br>
      Costo de Acciones: {{ }} <br>
      Forma de Pago: {{ }} <br>
      Retirables A: {{ }} <br>
      Retirables B: {{ }}  <br>
      Total de Acciones: {{ }}
    </address>
  </div>
  <div class="col-sm-5 invoice-col">
    <address>
      <h4>Compra de Acciones</h4>
      Compra 1er Acción: {{ }} <br>
      Parte Social Inicial: {{ }} <br>
      Fecha de Pago: {{ }} <br>
      Parte Social Actual: {{ }} <br>
      Costo de Acciones: {{ }} <br>
      Forma de Pago: {{ }} <br>
      Retirables A: {{ }} <br>
      Retirables B: {{ }} <br>
      Total de Acciones: {{ }}
    </address>
  </div>
</div>   ---->
