<div class="row invoice-info">
  <div class="col-sm-5 invoice-col">
    <address>
      <h4>Domicilio</h4>
      Calle: 4 Privada Prosperidad <br>
      Colonia: Pantitlan <br>
      Estado: México <br>
      No. Ext: 6 <br>
      No. Int:  <br>
      Codigo Postal: 08100 <br>
      Municipio Localidad: Iztacalco
    </address>
  </div>
  <div class="col-sm-5 invoice-col">
    <address>
      <h4>Domicilio</h4>
      Pais: México <br>
      Telefono: 5512345678 <br>
      Extención: 213 <br>
      Celular: 5513339054 <br>
      Email: Example@gmail.com <br>
      Redes Sociales: @Example
    </address>
  </div>
</div>

<!---

 <div class="col-sm-3 invoice-col">
        <address>
            <h4>Datos Generales</h4>
            No. Cliente: {{ }} <br>
            Sucursal: {{ }} <br>
            Promotor: {{ }} <br>
            Fecha de Alta: {{ }} <br>
            Estatus del Cliente: {{ }} <br>
            Parte Relacionada: {{ }} <br>
            Grupo del Vinculo al Consejo: {{ }} <br>
            Grupo de Riesgo Comun: {{ }}
        </address>
    </div>

	<div class="col-sm-4 invoice-col">
		<address>
        <h4>Datos Especificos</h4>
         Nombre Sociedad: {{ }} <br>
            Razon Social: {{ }} <br>
            R.F.C: {{ }} <br>
            Nacionalidad: {{ }} <br>
            Fecha Constitución: {{ }} <br>
            Personalidad Juridica: {{ }} <br>
            Representante Legal: {{ }} <br>
            Presidente Consejo: {{ }} <br>
            Secretario: {{ }} <br>
            Consejero(s): {{ }}
        </address>
        </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Domicilio</h4>
            Calle: {{ }} <br>
            Colonia: {{ }} <br>
            Estado: {{ }} <br>
            No. Ext: {{ }} <br>
            No. Int: {{ }} <br>
            Codigo Postal: {{ }} <br>
            Municipio Localidad: {{ }} <br>
            Pais: {{ }} <br>
            Telefono: {{ }} <br>
            Extención: {{ }} <br>
            Celular: {{ }} <br>
            Email: {{ }} <br>
            Redes Sociales: {{ }} <br>

        </address>
    </div>

</div>

---->
