<div class="row invoice-info">
    <div class="col-sm-5 invoice-col">
        <address>
            <h4>Cuentas Bancarias</h4>
            Nombre del Cuentahabiente: ... <br>
            Nombre del Banco: ... <br>
            No. Cuenta: ... <br>
            Clave Interbancaria: ...
        </address>
    </div>
    <div class="col-sm-5 invoice-col">
        <address>
            <h4>Cuentas Bancarias</h4>
            Nombre del Cuentahabiente: ... <br>
            Nombre del Banco: ... <br>
            No. Cuenta: ... <br>
            Clave Interbancaria: ...
        </address>
    </div>
</div>

<!--
<div class="row invoice-info">
  <div class="col-sm-5 invoice-col">
    <address>
      <h4>Cuentas Bancarias</h4>
      Nombre del Cuentahabiente: {{ }} <br>
      Nombre del Banco: {{ }} <br>
      No. Cuenta: {{ }} <br>
      Clave Interbancaria: {{ }}
    </address>
  </div>
  <div class="col-sm-5 invoice-col">
    <address>
      <h4>Cuentas Bancarias</h4>
      Nombre del Cuentahabiente {{ }} <br>
      Nombre del Banco: {{ }} <br>
      No. Cuenta: {{ }} <br>
      Clave Interbancaria: {{ }}
    </address>
  </div>
</div>

 -->
