<div class="row invoice-info">

    <div class="col-sm-3 invoice-col">
        <h4>Actividad Economica</h4>
        <address>
            Actividad:  ...<br>
            Actividad Económica: ...<br>
            Actividad Detallada: ...<br>
            Activo: ... <br>
            Pasivo: ...<br>
            Capital: ... <br>
            Ingresos Mensuales: ...<br>
            Otros Ingresos Mensuales: ... <br>
            Gastos Mensuales: ...<br>
            Flujo de Efectivo: ...
        </address>
    </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Referencias Personales</h4>
            Apellido Paterno: ... <br>
            Apellido Materno: ... <br>
            Primer Nombre: ... <br>
            Segundo Nombre: ... <br>
            Tipo de Relación: ... <br>
            Telefono(s): ... <br>
            Whatsapp: ...
        </address>
    </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Referencias Comerciales</h4>
            Nombre del Proveedor: ... <br>
            Antigüedad: ... <br>
            Limite Credito: ... <br>
            Saldo Credito: ... <br>
        </address>
    </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Referencias Crediticias</h4>
            Institución: ... <br>
            Antigüedad: ... <br>
            Limite Credito: ... <br>
            Saldo a la Fecha: ... <br>
        </address>
    </div>

</div>


<!-------

<div class="row invoice-info">

    <div class="col-sm-3 invoice-col">
        <h4>Actividad Economica</h4>
        <address>
            Actividad: {{ }} <br>
            Actividad Económica: {{ }} <br>
            Actividad Detallada: {{ }} <br>
            Activo: {{ }} <br>
            Pasivo: {{ }} <br>
            Capital: {{ }} <br>
            Ingresos Mensuales: {{ }} <br>
            Otros Ingresos Mensuales: {{ }} <br>
            Gastos Mensuales: {{ }} <br>
            Flujo de Efectivo: {{ }}
        </address>
    </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Referencias Personales</h4>
            Apellido Paterno: {{ }} <br>
            Apellido Materno: {{ }} <br>
            Primer Nombre:  {{ }} <br>
            Segundo Nombre: {{ }} <br>
            Tipo de Relación: {{ }} <br>
            Telefono(s): {{ }} <br>
            Whatsapp: {{ }}
        </address>
    </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Referencias Comerciales</h4>
            Nombre del Proveedor: {{ }} <br>
            Antigüedad: {{ }} <br>
            Limite Credito: {{ }} <br>
            Saldo Credito: {{ }} <br>
        </address>
    </div>

    <div class="col-sm-3 invoice-col">
        <address>
            <h4>Referencias Crediticias</h4>
            Institución: {{ }} <br>
            Antigüedad: {{ }} <br>
            Limite Credito: {{ }} <br>
            Saldo a la Fecha: {{ }} <br>
        </address>
    </div>

</div>

------>>>>>>
