<app-btnview></app-btnview>
<h4 class="page-title" ><a type = "button" (click)="inver(router)">No Revolvente</a></h4>
<br>
<div class="row">
  <div class="col-12 col-lg-12">
    <div class="card">
          <div class="card-body">
              <form>
                  <div class="form-group row">
                      <label  class="col-sm-2 col-form-label">No. Cliente</label>
                      <div class="col-sm-3">00100</div>
                      <label  class="col-sm-3 col-form-label">No. Linea Crédito</label>
                      <div class="col-sm-3">1010105</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tipo de Crédito</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Producto de Crédito</label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fuentes de Fondeo</label>
                    <div class="col-sm-3">....</div>
                    <label  class="col-sm-3 col-form-label">Programa de Fondeo</label>
                    <div class="col-sm-4">....</div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Revolvente</label>
                    <div class="col-sm-3">Si</div>
                    <label class="col-sm-3 col-form-label">Refinanciamiento</label>
                    <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Estatus Contable</label>
                      <div class="col-sm-3">....</div>
                      <label  class="col-sm-3 col-form-label">Moneda</label>
                      <div class="col-sm-4">MXN</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Fecha de Alta</label>
                      <div class="col-sm-3">05/Ago/2020</div>
                      <label  class="col-sm-3 col-form-label">Fecha de Vencimiento</label>
                      <div class="col-sm-4">05/Sep/2020</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Plazos a Meses</label>
                      <div class="col-sm-3">000</div>
                      <label class="col-sm-3 col-form-label">Esquema de Calculo</label>
                      <div class="col-sm-3">000</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tipo de Tasa</label>
                      <div class="col-sm-3">....</div>
                      <label  class="col-sm-3 col-form-label">Puntos Adicionales</label>
                      <div class="col-sm-4">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tasa Moratoria Fija</label>
                      <div class="col-sm-3">Fija</div>
                      <label class="col-sm-3 col-form-label">Desposiciones</label>
                      <div class="col-sm-3">....</div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Periocidad</label>
                      <div class="col-sm-3">0</div>
                      <label class="col-sm-3 col-form-label">Pago a Capital</label>
                      <div class="col-sm-3">Simple</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Pago de Interés</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Pago Especial</label>
                      <div class="col-sm-3">....</div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Fecha de Pago Especial</label>
                      <div class="col-sm-3">20/Sep/2021</div>
                      <label class="col-sm-3 col-form-label">Monto de Pago Especial</label>
                      <div class="col-sm-3">10,000.00</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tipo de Comisión</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Porcentaje de Comisión</label>
                      <div class="col-sm-3">....</div>
                  </div>

              </form>
          </div>
    </div>
  </div>
</div>