<div class="card">
  <!--<div class="card-header text-uppercase">Titulo</div>-->
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
        <div class="input-group">
          <div class="input-group-prepend"> <span class="input-group-text">Buscar</span>
          </div>
          <!-- <input type="text" class="form-control" placeholder="Ingrese datos a buscar"> -->
          <input type="text" class="form-control" placeholder="Buscar por catalogos" (keyup)='updateFilter($event)' style='width:30%;'>
          <div class="input-group-append"> <span class="input-group-text"><i class="fa fa-search"></i></span></div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-4">
      </div>

      <div class="col-12 col-lg-4 col-xl-4">
        <div ngbDropdown class="btn-group m-1 float-sm-right" >
          <button type="button" class="btn btn-light"><i class="fa fa-filter"></i><span> Filtrar</span></button>
          <button type="button" class="btn btn-light"><i class="fa fa-file"></i><span> <a > Nuevo</a></span></button>
          <button type="button" class="btn btn-light"><i class="fa fa-print"></i><span> Imprimir</span></button>
        </div>
      </div>


    </div>
  </div>

</div>  