<div class="row invoice-info">
  <div class="col-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <h6 class="page-title">Contratación</h6>
        <hr>
        <div class="row">
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Tipo de Contrato</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="tipo_contrato" id="tipo_contrato">
                  <option selected>Seleccione el tipo de contrato ...</option>
                  <option value="1">Fija</option>
                  <option value="2">Variable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Número de Contrato </label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="num_contrato" id="num_contrato" placeholder="Nombre del Cliente"  value="0099689" readonly>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Monto del Contrato</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="mto_contrato" id="mto_contrato" placeholder="$ 0.00 "  value=" 0.00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Fecha de Firma del Contrato</label>
              <div class="col-sm-6">
                <input type="date" class="form-control" name="fec_fma_contrato" id="fec_fma_contrato"  placeholder="  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Fecha Vencimiento Contrato</label>
              <div class="col-sm-6">
                <input type="date" class="form-control" name="fec_vto_contrato" id="fec_vto_contrato" placeholder="  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Número de Notario</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="num_notario" id="num_notario" placeholder=" 004849490383  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Nombre del Notario</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="nom_notario" id="nom_notario" placeholder=" Nombre del Notario  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Fecha de Inscripción Registro</label>
              <div class="col-sm-6">
                <input type="date" class="form-control" name="fec_ins_registro" id="fec_ins_registro" placeholder="  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Lugar de Inscripción</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="lugar_inscripcion" id="lugar_inscripcion" placeholder=" Lugar de Inscripción " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Número de Inscripción</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="num_inscripcion" id="num_inscripcion" placeholder=" 09889889 " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Volumen</label>
              <div class="col-sm-6">
                <input type="number" class="form-control" name="volumen" id="volumen" placeholder=" 00 " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Sección</label>
              <div class="col-sm-6">
                <input type="number" class="form-control" name="seccion" id="seccion" placeholder=" 00 " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label"> Fojas </label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="fojas" id="fojas" placeholder=" 00 " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Libre</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="libre" id="libre" placeholder=" Libre " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Descripción del Contrato</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="descrip_contrato" id="descrip_contrato" placeholder=" Descripción del Contrato " >
              </div>
            </div>
          </div>
