<div class="row invoice-info">
  <div class="col-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <h6 class="page-title">Comisiones y Seguros</h6>
        <hr>
        <div class="row">
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Tipo de Comisión</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="tipo_comision" id="tipo_comision">
                  <option selected>Seleccione el tipo de comisión ...</option>
                  <option value="1">Fija</option>
                  <option value="2">Variable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Procentaje de Comisión</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-percent"></i></span>
                <input type="text" class="form-control" name="%_comision" id="%_comision" placeholder=" 00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Monto Comisión</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="mto_comision" id="mto_comision" placeholder=" 0.00 "  value=" 0.00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">IVA Comisión</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="iva_seguro" id="iva_seguro" placeholder="0.00 "  value=" 0.00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Tipo de Seguro</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="tipo_seguro" id="tipo_seguro">
                  <option selected>Seleccione el tipo de comisión ...</option>
                  <option value="1">Fija</option>
                  <option value="2">Variable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Porcentaje Seguro</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-percent"></i></span>
                <input type="text" class="form-control" name="%_comision" id="%_comision" placeholder="00 "  value=" 0.00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Monto Seguro</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="mto_seguro" id="mto_seguro" placeholder="$ 0.00 "  value=" 0.00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">IVA Seguro</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="iva_seguro" id="iva_seguro" placeholder="IVA Seguro"  value=" 0.00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Descripción del Seguro</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="descrip_seguro" id="descrip_seguro" placeholder=" Descripción del Seguro " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Garantias</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="hay_gtia" id="hay_gtia" placeholder="IVA Seguro"  value="Garantia" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Tipo de Garantia</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="tipo_gtia" id="tipo_gtia">
                  <option selected>Seleccione el tipo de garantia ...</option>
                  <option value="1"> </option>
                  <option value="2"> </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Fecha Garantia</label>
              <div class="col-sm-6">
                <input type="date" class="form-control" name="fec_gtias" id="fec_gtias" placeholder=" " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Proporción de la Garantia</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="propor_gtia" id="propor_gtia" placeholder="Proporción de la Garantia"  value="00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Aforo de la Garantia</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="aforo_gtia" id="aforo_gtia" placeholder="Garantia"  value="0.00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Valor de la Garantia</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="vlor_gtia" id="vlor_gtia" placeholder="Garantia"  value="0.00" readonly>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Descripción Garantia</label>
              <div class="col-sm-6 input-group">
                <input type="text" class="form-control" name="descrip_gtia" id="descrip_gtia" placeholder="Descripción" >
                <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
