<div class="row invoice-info">
  <div class="col-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <h6 class="page-title">Condiciones de Operación</h6>
        <hr>
        <div class="row">
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Esquema de Calculo</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="esquema_cal" id="esquema_cal">
                  <option selected>Seleccione el tipo de calculo ...</option>
                  <option value="1">Fija</option>
                  <option value="2">Variable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Tipo de Tasa</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="tipo_tasa" id="tipo_tasa">
                  <option selected>Seleccione el tipo de tasa ...</option>
                  <option value="1">Fija</option>
                  <option value="2">Variable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Tasa de Referencia</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="tasa_ref" id="tasa_ref">
                  <option selected>Seleccione la tasa de rendimiento ...</option>
                  <option value="1">TBL03  Tbills 3 Meses</option>
                  <option value="2">TBL06  Tbills 6 Meses</option>
                  <option value="3">TBL12  Tbills 12 Meses</option>
                  <option value="3">TFIJA  Tasa Fija</option>
                  <option value="4">TIE28  TiiE 28 Días</option>
                  <option value="5">TIE91  TiiE 91 Días</option>
                  <option value="6">TINPC  Tasa Real (INPC)</option>
                  <option value="7">TIP28  Tiip 28 Días</option>
                  <option value="8">TPFBA  Tasa Ponderada de Fondeo Bancario</option>
                  <option value="9">TPFGU  Tasa Ponderada de Fondeo Gubernamental</option>
                  <option value="10">UDI  Precio de la UDI</option>
                  <option value="11">TMIXTA  Tasa Mixta</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Tasa Fija</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="ptos_adic" id="ptos_adic" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Tasa Variable</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="ptos_adic" id="ptos_adic" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Puntos Adicionales</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-check-square-o"></i></span>
                <input type="text" class="form-control" name="ptos_adic" id="ptos_adic" placeholder=" 00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Tasa Moratoria Fija</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" id="tasa_mora_fija" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Tasa Moratoria Variable</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="tasa_mora_var" id="tasa_mora_var" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Sobre Tasa Moratoria </label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="sobretasa_mora" id="sobretasa_mora" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Disposiciones</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="disposicion" id="disposicion" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Periocidad</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="perio_credito" id="perio_credito" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Periocidad pago capital</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="perio_cap" id="perio_cap">
                  <option selected>Seleccione el tipo de pago capital ...</option>
                  <option value="1">Servicio</option>
                  <option value="2">Anualidad</option>
                  <option value="3">Otros</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Periocidad pago interés</label>
              <div class="col-sm-6">
                <select class="form-control form-control-sm" name="perio_int" id="perio_int">
                  <option selected>Seleccione el tipo de pago interés ...</option>
                  <option value="1">Servicio</option>
                  <option value="2">Anualidad</option>
                  <option value="3">Otros</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Periocidad de gracia de capital</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Número gracia de capital</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="num_gracia_cap" id="num_gracia_cap" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Periodo de Gracia de Interés</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="perio_gracia_int" id="perio_gracia_int" placeholder="  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Número gracia de interés</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="num_gracia_int" id="num_gracia_int" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Pago especial</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="pgo_especial" id="pgo_especial" placeholder="  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Fecha pago especial</label>
              <div class="col-sm-6">
                <input type="date" class="form-control" name="fec_pgo_especial" id="fec_pgo_especial" placeholder="  " >
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Monto pago especial</label>
              <div class="col-sm-6 input-group">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" name="mto_pgo_special" id="mto_pgo_special" placeholder=" 0.00 ">
                <div class="input-group-append">
                </div>
              </div>
            </div>
          </div>
