<app-btnedit></app-btnedit>
<h4 class="page-title"><i _ngcontent-pmu-c279="" aria-hidden="true" class="fa fa-money"></i>
  Pago Anticipado </h4>

<!-- End Breadcrumb-->
<div class="row">
  <div class="card">
    <div class="card-body">
      <nav ngbNav #nav="ngbNav" class="nav-tabs nav-tabs-primary  nav-justified">
        <ng-container ngbNavItem> <a ngbNavLink><i class="fa fa-user-plus"></i> Datos de los saldos no exigibles del Crédito</a>
          <ng-template ngbNavContent>
            <form>

              <!--End Row-->
              <div class="row">
                <div class="col-12 col-lg-12">
                  <div class="card">
                    <div class="card-body">

                      <div class="row">


                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Número Cliente</label>
                            <div class="col-sm-6 input-group">
                              <input type="text" class="form-control" placeholder="# del Cliente">
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Número Linea de Crédito </label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" placeholder="Número Linea de Crédito"  value="00039493930394" readonly>
                            </div>
                          </div>
                        </div>



                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Monto de la Linea</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder=" 00 ">
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Linea Crédito Dispuesto</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Linea Crédito Disponible</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Número de Disposición </label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" placeholder="Número de Disposición "  value=" 4749384 " readonly>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Capital no Exigible</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Interes Devengado no exigible</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">IVA sobre Intereses</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Saldo Insoluto</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Monto Amortización</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Ultimo Pago Capital</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX " >
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Ultimo Pago Interes</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX " >
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Proxima Amortización Capital</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX " >
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Proxima Amortización Interés</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX " >
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Vencimiento Capital</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX " >
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Vencimiento Interés</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX " >
                            </div>
                          </div>
                        </div>





                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </form>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem> <a ngbNavLink><i class="icon-home"></i>Pago Adelantado</a>
          <ng-template ngbNavContent>
            <form>

              <!--End Row-->
              <div class="row">
                <div class="col-12 col-lg-12">
                  <div class="card">
                    <div class="card-body">

                      <div class="row">

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Fecha de Pago</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX " >
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Pago Adelantado</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Pago IVA</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Pago Interés no exigible</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Pago Capital no exigible</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Validación Pago Adelantado</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder="$ 0.00 "  value=" 0.00" readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>



                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Vencimiento Capital </label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX">
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Vencimiento Interés </label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" placeholder="XX XXXX XXXX">
                            </div>
                          </div>
                        </div>


                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Monto Amortización</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder=" $ 0.00 ">
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Capital no Exigible</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder=" $ 0.00 ">
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Interes Desvegado no exigible</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder=" $ 0.00 ">
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">IVA Sobre Intereses</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder=" $ 0.00 ">
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="col-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label">Saldo Insoluto</label>
                            <div class="col-sm-6 input-group">
                              <span class="input-group-text"><i class="fa fa-usd"></i></span>
                              <input type="text" class="form-control" placeholder=" $ 0.00 " value=" $ 0.00 " readonly>
                              <div class="input-group-append">
                              </div>
                            </div>
                          </div>
                        </div>





                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </form>
          </ng-template>
        </ng-container>

      </nav>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
