<app-btnview></app-btnview>
<h4 class="page-title" ><a type = "button" (click)="inver(router)">Cuenta de Debito</a></h4>
<br>
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">No. Cliente</label>
                        <div class="col-sm-3">00100</div>
                        <label  class="col-sm-3 col-form-label">No. Cuenta Debito</label>
                        <div class="col-sm-3">99547890</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre del Cliente</label>
                        <div class="col-sm-3">Luis Miguel Medina Lopez</div>
                        <label class="col-sm-3 col-form-label">Saldo de Cuenta</label>
                        <div class="col-sm-3">$ 10,000.00</div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">No. Operación</label>
                        <div class="col-sm-3">115245454</div>
                        <label  class="col-sm-3 col-form-label">Tipo de tranfacción</label>
                        <div class="col-sm-4">Deposito</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Monto de la Operación</label>
                        <div class="col-sm-3">$ 3,000.00</div>
                        <label class="col-sm-3 col-form-label">Referencia</label>
                        <div class="col-sm-3">Pago Luz</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Saldo Final </label>
                        <div class="col-sm-3">$ 7,000.00</div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>