<app-btnview></app-btnview>
<h4 class="page-title" ><a type = "button" (click)="inver(router)">Revolvente</a></h4>
<br>
<div class="row">
  <div class="col-12 col-lg-12">
    <div class="card">
          <div class="card-body">
              <form>
                  <div class="form-group row">
                      <label  class="col-sm-2 col-form-label">No. Cliente</label>
                      <div class="col-sm-3">00100</div>
                      <label  class="col-sm-3 col-form-label">No. Linea Crédito</label>
                      <div class="col-sm-3">1010105</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Nombre del Cliente</label>
                      <div class="col-sm-3">Luis Miguel Medina Lopez</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tipo de Crédito</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Producto de Crédito</label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fuentes de Fondeo</label>
                    <div class="col-sm-3">....</div>
                    <label  class="col-sm-3 col-form-label">Programa de Fondeo</label>
                    <div class="col-sm-4">....</div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Revolvente</label>
                    <div class="col-sm-3">Si</div>
                    <label class="col-sm-3 col-form-label">Refinanciamiento</label>
                    <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Estatus Contable</label>
                      <div class="col-sm-3">....</div>
                      <label  class="col-sm-3 col-form-label">Moneda</label>
                      <div class="col-sm-4">MXN</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Monto de Linea</label>
                      <div class="col-sm-3">$ 10,000.00</div>
                      <label  class="col-sm-3 col-form-label">Fecha de Alta</label>
                      <div class="col-sm-4">22/01/2020</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Plazos a Meses</label>
                      <div class="col-sm-3">6 Meses</div>
                      <label  class="col-sm-3 col-form-label">Fecha de Vencimiento</label>
                      <div class="col-sm-4">05/Sep/2020</div>
                  </div>
<hr>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Esquema de Calculo</label>
                      <div class="col-sm-3">000</div>
                      <label class="col-sm-3 col-form-label">Tipo de Tasa</label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tasa de Referencia</label>
                      <div class="col-sm-3">....</div>
                      <label  class="col-sm-3 col-form-label">Tasa Fija</label>
                      <div class="col-sm-4">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tasa Variable</label>
                      <div class="col-sm-3">...</div>
                      <label class="col-sm-3 col-form-label">Puntos Adicionales</label>
                      <div class="col-sm-3">....</div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tasa Moratoria Fija</label>
                      <div class="col-sm-3">0</div>
                      <label class="col-sm-3 col-form-label">Tasa Moratoria Variable</label>
                      <div class="col-sm-3">Simple</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Sobre Tasa Moratoria</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Disposiciones</label>
                      <div class="col-sm-3">....</div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Periocidad</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Periocidad Pago Capital</label>
                      <div class="col-sm-3">...</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Periocidad pago Interés</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Periocidad de Gracia de Capital</label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">No. Gracia de Capital</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Pago Especial </label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Fecha Pago Especial</label>
                      <div class="col-sm-3">11/02/2022</div>
                      <label class="col-sm-3 col-form-label">Monto Pago Especial </label>
                      <div class="col-sm-3">....</div>
                  </div>
<hr>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tipo de Comisión</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Porcentaje de Comisión</label>
                      <div class="col-sm-3">...</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Monto Comisión</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Iva Comisión</label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tipo de Seguro</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Monto de Seguro </label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Iva Seguro</label>
                      <div class="col-sm-3">...</div>
                      <label class="col-sm-3 col-form-label">Descripción del Seguro </label>
                      <div class="col-sm-3">....</div>
                  </div>
                  <hr>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tipo de Contrato</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">No. de Contrato</label>
                      <div class="col-sm-3">...</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Monto Contrato</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Fecha de Firma de Contrato</label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Fecha de Vencimiento de Contrato</label>
                      <div class="col-sm-3">....</div>
                      <label class="col-sm-3 col-form-label">Numero de Notario </label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Nombre del Notario</label>
                      <div class="col-sm-3">...</div>
                      <label class="col-sm-3 col-form-label">Fecha de Inscripción Registro </label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Lugar de Inscripción</label>
                      <div class="col-sm-3">...</div>
                      <label class="col-sm-3 col-form-label">Numero de Inscripción </label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Volumen</label>
                      <div class="col-sm-3">...</div>
                      <label class="col-sm-3 col-form-label">Sección </label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Fojas</label>
                      <div class="col-sm-3">...</div>
                      <label class="col-sm-3 col-form-label">Libre </label>
                      <div class="col-sm-3">....</div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Descripción del Contrato</label>
                      <div class="col-sm-3">...</div>
                  </div>
              </form>
          </div>
    </div>
  </div>
</div>