<h6 class="text-uppercase">Sistema de control Financiero</h6>
<hr>
<div class="row">
	

    <div class="col-12 col-lg-6 col-xl-2"></div>
	<div class="col-12 col-lg-6 col-xl-8">
		<div class="card">
			<div class="overlay-div1"></div>
			 <div class="card-img-overlay">
				<div class="row align-items-center">
					<div class="col text-left"> <i class="zmdi zmdi-share fa-2x text-white"></i>
					</div>
					<div class="col text-right"> <i class="zmdi zmdi-more-vert fa-2x text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
