<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-4 col-lg-4 col-xl-4">
        
      </div>
      <div class="col-4 col-lg-4 col-xl-4">
        <div ngbDropdown class="btn-group m-2 float-sm-right" >
          <h6 class="page-title"> </h6>
        </div>
      </div>
      <div class="col-4 col-lg-4 col-xl-4">
        <div ngbDropdown class="btn-group m-2 float-sm-right" >
          <button type="button" class="btn btn-light" ><i class="fa fa-mail-reply"></i><span>&nbsp;Salir</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Encabezado ***** -->

<div class="row">
  <div class="col-lg-12">
    

    <div class="card">
      
      <div class="card-body">
        <ul ngbNav #nav3="ngbNav" [(activeId)]="active2" (navChange)="onNavChange($event)" class="nav-tabs nav-tabs-primary  nav-justified">
          <li [ngbNavItem]="1"  > <a ngbNavLink><i class="fa fa-user-plus"></i>Linea de Credito</a>
            <ng-template ngbNavContent>
              <form [ngbCollapse]="isCollapsedPrueba1" >
                <div class="row">
                  <div class="col-12 col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="page-title">Datos del Solicitante</h6>
                        <hr>
                        <div class="row">
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Numero de Cliente </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="numeroCliente" >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Mascara de cantidad </label>
                              <div class="col-sm-6" *ngFor="let choice of choices" >
                                <input class="form-control" type="text" placeholder="$1,0000.00" [textMask]="{mask: choice.mask}">
			                        </div>
	                        	</div>
                        	</div>
                          <div class="col-2 col-lg-1 col-xl-1">
                            <button
                            (click)="isCollapsed8 = !isCollapsed8"
                              type="submit"
                              class="btn btn-light btn-block">Validar</button>
                        </div>
                        <div class="col-1 col-lg-2 col-xl-2">
                        </div>
                        <div class="col-1 col-lg-2 col-xl-2">
                        </div>
                          <div class="col-5 col-lg-4 col-xl-4" [ngbCollapse]="isCollapsed8" >
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Sucursal </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="estatusCliente" placeholder="Sucursal" readonly >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4" [ngbCollapse]="isCollapsed8" >
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Promotor </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="estatusCliente" placeholder="Promotor" readonly >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4" [ngbCollapse]="isCollapsed8">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Estatus de Cliente </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="estatusCliente" placeholder="Estatus de Cliente" readonly >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4" [ngbCollapse]="isCollapsed8">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Nombre Completo </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="estatusCliente" placeholder="Nombre Completo" readonly >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4" [ngbCollapse]="isCollapsed8">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Razon Social </label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="estatusCliente" placeholder="Razon Social" readonly >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4" [ngbCollapse]="isCollapsed8">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">RFC</label>
                              <div class="col-sm-6 input-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="rfc"
                                  placeholder="RFC"
                                  maxlength="13"
                                  readonly
                                >
                              </div>
                            </div>
                          </div>
                            <div class="col-5 col-lg-4 col-xl-4" [ngbCollapse]="isCollapsed8">
                              <div class="form-group row">
                                <label  class="col-sm-5 col-form-label">Estatus de la Solicitud</label>
                                <div class="col-sm-6 input-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    formControlName="rfc"
                                    placeholder="Estatus de la Solicitud"
                                    maxlength="13"
                                    readonly
                                  >
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                </div>
                <div [ngbCollapse]="isCollapsed8" class="row">
                  <div class="col-12 col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="page-title">Datos Credito</h6>
                        <hr>
                        <!--<div class="modal fade" id="largesizemodal1">
                          <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header border-light-2">
                                <h5 class="modal-title text-white">Información</h5>
                              </div>
                              <div class="modal-body">
                                <div >
                                  <table border="0" span="0" class="table table-borderless table-striped"  style=" border:0px; box-shadow:3px 3px 3px 3px rgba(0,0,0,0.25);">
                                    <thead >
                                    <tr>
                                      <td>Numero de Cliente: </td>
                                      <td>Clave de Error: </td>
                                      <td>Error: </td>
                                      <td>Descripcion de Error: </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let retorno of cliente">
                                      <td>{{retorno.noCliente}}</td>
                                      <td>{{retorno.errorClave}}</td>
                                      <td>{{retorno.errorSp}}</td>
                                      <td>{{retorno.errorDescripcion}}</td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="modal-footer border-light-2">
                                <button type="button" class="btn btn-link text-white" data-dismiss="modal" ><i class="fa fa-times"></i> Close</button>
                              </div>
                            </div>
                          </div>
                        </div>-->
                        <div class="row">
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Datos del Credito </label>
                              <div class="col-sm-6 input-group">
                                <input  type="text" class="form-control" name="NombreSociedad" id="NombreSociedad" placeholder=" "  >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Origen de Recursos para pagar credito</label>
                              <div class="col-sm-6 input-group">
                                <input  type="text" class="form-control" name="RepresentanteLegal" id="RepresentanteLegal" placeholder=" "  >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Monto y frecuencia con la que se pretende disponer del crédito.</label>
                              <div class="col-sm-6 input-group">
                                <input  type="text" class="form-control" name="PresidenteConsejo" id="PresidenteConsejo" placeholder=" " >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Monto y frecuencia con la que se pretende pagar el crédito</label>
                              <div class="col-sm-6 input-group">
                                <input  type="text" class="form-control" name="Consejero" id="Consejero" placeholder=" "  >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Número de disposiciones con los que se pretende disponer del crédito</label>
                              <div class="col-sm-6 input-group">
                                <input  type="text" class="form-control" name="EmailPersonal" id="EmailPersonal" placeholder=" " >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-label">Número de pagos con los que se pretende pagar el crédito </label>
                              <div class="col-sm-6 input-group">
                                <input  type="text" class="form-control" name="EmailEmpresa" id="EmailEmpresa" placeholder=" "  >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Moneda en la que solicita el crédito </label>
                              <div class="col-sm-6">
                                <input  type="text" class="form-control" name="EmailEmpresa" id="EmailEmpresa" placeholder=" "  >
                              </div>
                            </div>
                          </div>
                          <div class="col-5 col-lg-4 col-xl-4">
                            <div class="form-group row">
                              <label  class="col-sm-5 col-form-success">Monto solicitado para la línea de crédito </label>
                              <div class="col-sm-6 input-group">
                                <input  type="text" class="form-control" name="GrupoConsejo" id="GrupoConsejo" placeholder=" " >
                              </div>
                            </div>
                          </div>
                          <div class="col-1 col-lg-4 col-xl-4">
                          </div>
                          <div class="col-1 col-lg-4 col-xl-4">
                          </div>
                          <div class="col-1 col-lg-4 col-xl-4">
                          </div>
                          <div  class="col-2 col-lg-2 col-xl-2">
                            <button type="submit" class="btn btn-light  btn-block"  >Cancelar</button>
                          </div>
                          <div class="col-2 col-lg-2 col-xl-2">
                            <button  data-toggle="modal" data-target="#largesizemodal1"   type="submit" class="btn btn-light  btn-block" >Guardar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </li>  
        </ul>
        <div [ngbNavOutlet]="nav3" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>