<div class="row">
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Tipo de Tasa</label>
      <div class="col-sm-6">
        <select class="form-control form-control-sm" name="tipo_tasa" id="tipo_tasa">
          <option selected>Seleccione el tipo de tasa ...</option>
          <option value="1">Fija</option>
          <option value="2">Variable</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Tasa de Rendimiento</label>
      <div class="col-sm-6">
        <select class="form-control form-control-sm" name="tasa_rendimiento" id="tasa_rendimiento">
          <option selected>Seleccione la tasa de rendimiento ...</option>
          <option value="1">TBL03  Tbills 3 Meses</option>
          <option value="2">TBL06  Tbills 6 Meses</option>
          <option value="3">TBL12  Tbills 12 Meses</option>
          <option value="3">TFIJA  Tasa Fija</option>
          <option value="4">TIE28  TiiE 28 Días</option>
          <option value="5">TIE91  TiiE 91 Días</option>
          <option value="6">TINPC  Tasa Real (INPC)</option>
          <option value="7">TIP28  Tiip 28 Días</option>
          <option value="8">TPFBA  Tasa Ponderada de Fondeo Bancario</option>
          <option value="9">TPFGU  Tasa Ponderada de Fondeo Gubernamental</option>
          <option value="10">UDI  Precio de la UDI</option>
          <option value="11">TMIXTA  Tasa Mixta</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label  class="col-sm-5 col-form-label">Puntos Adicionales</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-text"><i class="fa fa-check-square-o"></i></span>
        <input type="text" class="form-control" name="ptos_adicionales" id="ptos_adicionales" placeholder=" 00 ">
        <div class="input-group-append">
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Tipo de comisión</label>
      <div class="col-sm-6">
        <select class="form-control form-control-sm" name="tipo_comision" id="tipo_comision">
          <option selected>Seleccione el tipo de comisión ...</option>
          <option value="1">Servicio</option>
          <option value="2">Sobregiro</option>
          <option value="3">Transferencia</option>
          <option value="3">Otros</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label  class="col-sm-5 col-form-label">Porcentaje de Comisión</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-text"><i class="fa fa-percent"></i></span>
        <input type="text" class="form-control" name="porcen_comision" id="porcen_comision" placeholder=" 00 ">
        <div class="input-group-append">
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Periodo Comisión</label>
      <div class="col-sm-6">
        <select class="form-control form-control-sm" name="periodo_comision" id="periodo_comision">
          <option selected>Seleccione el opcion ...</option>
          <option value="1">OPCION</option>
          <option value="2">OPCION</option>
          <option value="3">OPCION</option>
          <option value="3">OPCION</option>
          <option value="4">OPCION</option>
          <option value="5">OPCION</option>
          <option value="6">OPCION</option>
          <option value="7">OPCION</option>
          <option value="8">OPCION</option>
          <option value="9">OPCION</option>
          <option value="10">OPCION</option>
        </select>
      </div>
    </div>
  </div>
