<div class="row">
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Número Cliente</label>
      <div class="col-sm-6 input-group">
        <input type="text" class="form-control" name="num_soc" id="num_soc" placeholder="# del Cliente">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label  class="col-sm-5 col-form-label">Nombre del Cliente </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="num_linea_cred" id="num_linea_cred" placeholder="Nombre del Cliente"  value="Nombre del Cliente" readonly>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Número de Cuenta </label>
      <div class="col-sm-6 input-group">
        <input type="text" class="form-control" name="num_cuenta" id="num_cuenta" placeholder=" Número de Cuenta " value="000865567898890" readonly>
        <span class="input-group-text"><i class="fa fa-credit-card-alt"></i></span>
        <div class="input-group-append">
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Tipo de Cuenta </label>
      <div class="col-sm-6">
        <select class="form-control form-control-sm" name="tipo_cuenta" id="tipo_cuenta">
          <option selected>Seleccione el tipo de cuenta ...</option>
          <option value="1">Cuenta de Debito</option>
          <option value="2">Cuenta Eje</option>
          <option value="3">Cuenta Dispersión</option>
          <option value="4">Cuenta Concentración</option>
          <option value="5">Cuenta Nostro</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Producto</label>
      <div class="col-sm-6">
        <select class="form-control form-control-sm" name="producto" id="producto">
          <option selected>Seleccione el producto ...</option>
          <option value="1">AAA</option>
          <option value="2">BBB</option>
          <option value="3">CCC</option>
          <option value="3">DDD</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Moneda</label>
      <div class="col-sm-6">
        <select class="form-control form-control-sm" name="moneda" id="moneda">
          <option selected>Seleccione la moneda ...</option>
          <option value="1">Pesos Mexicanos</option>
          <option value="2">Dolares</option>
          <option value="3">Euros</option>
          <option value="4">Yen Japones</option>
          <option value="5">Yuan Chino</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label  class="col-sm-5 col-form-label">Fecha de Alta </label>
      <div class="col-sm-6">
        <input type="date" class="form-control" name="fec_alta" id="fec_alta" placeholder="  " >
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label  class="col-sm-5 col-form-label">Fecha Vencimiento</label>
      <div class="col-sm-6">
        <input type="date" class="form-control" name="fec_vto" id="fec_vto" placeholder="  " >
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Estatus de la cuenta</label>
      <div class="col-sm-6">
        <select class="form-control form-control-sm" name="estatus_cuenta" id="estatus_cuenta">
          <option selected>Seleccione el estatus ...</option>
          <option value="1">Activa</option>
          <option value="2">Cerrada</option>
          <option value="3">Bloqueada</option>
          <option value="3">Cancelada</option>
          <option value="4">Investigación</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Descripción </label>
      <div class="col-sm-6 input-group">
        <input type="text" class="form-control" name="descripcion_cuenta" id="descripcion_cuenta" placeholder=" Descipción " >
        <span class="input-group-text"><i class="fa fa-pencil"></i></span>
        <div class="input-group-append">
        </div>
      </div>
    </div>
  </div>
