<div class="row invoice-info">
    <div class="col-sm-5 invoice-col">
        <address>
          <h4>Linea de Crédito</h4>
          Número cliente: {{ }} <br>
          Número linea de crédito: {{ }} <br>
          Programa de fondeo: {{ }} <br>
          Refinanciamiento: {{ }} <br>
          Moneda: {{ }} <br>
          Fecha de aLta: {{ }} <br>
          Plazo Meses: {{ }}

        </address>
    </div>
    <div class="col-sm-5 invoice-col">
        <address>
            <h4> </h4>
          Nombre del cliente: {{ }} <br>
          Tipo de crédito: {{ }} <br>
          Fuente de Fondeo: {{ }} <br>
          Revolvente: {{ }} <br>
          Estatus Contable: {{ }} <br>
          Fecha de la linea: {{ }} <br>
          Fecha vencimiento: {{ }}

        </address>
    </div>
</div>

