<div class="row invoice-info">
    <div class="col-sm-5 invoice-col">
        <address>
          <h4>Contratación</h4>
          Tipo de contrato: {{ }} <br>
          Monto del contrato: {{ }} <br>
          Fecha vencimiento contrato: {{ }} <br>
          Nombre del notario: {{ }} <br>
          Lugar de inscripción: {{ }} <br>
          Volumen: {{ }} <br>
          Fojas: {{ }} <br>
          Descripción del contrato: {{ }}

        </address>
    </div>
    <div class="col-sm-5 invoice-col">
        <address>
            <h4> </h4>
          Número de contraro: {{ }} <br>
          Fecha de firma del contrato: {{ }} <br>
          Número de notario: {{ }} <br>
          Fecha de inscripción registro: {{ }} <br>
          Número de inscripción: {{ }} <br>
          Sección: {{ }} <br>
          Libre: {{ }}
        </address>
    </div>
</div>
