<div class="row invoice-info">
    <div class="col-sm-5 invoice-col">
        <address>
          <h4>Comisiones y Seguros</h4>
          Tipo de comisión: {{ }} <br>
          Monto comisión: {{ }} <br>
          Tipo de seguro: {{ }} <br>
          Monto seguro: {{ }} <br>
          Descripción del seguro: {{ }} <br>
          Tipo de garantia: {{ }} <br>
          Proporción de la garantia: {{ }} <br>
          Valor de la garantia: {{ }}

        </address>
    </div>
    <div class="col-sm-5 invoice-col">
        <address>
            <h4> </h4>
          Porcentaje de comisión: {{ }} <br>
          IVA comisión: {{ }} <br>
          Porcentaje seguro: {{ }} <br>
          IVA Seguro: {{ }} <br>
          Gartantias: {{ }} <br>
          Fecha garantia: {{ }} <br>
          Aforo de la garantia: {{ }} <br>
          Descripción garantia: {{ }}
        </address>
    </div>
</div>
