<div class="row invoice-info">
    <div class="col-sm-5 invoice-col">
        <address>
          <h4>Condiciones de Operación</h4>
          Esquema de calculo: {{ }} <br>
          Tasa de referencia: {{ }} <br>
          Tasa variable: {{ }} <br>
          Tasa moratoria fija: {{ }} <br>
          Sobre tasa moratoria: {{ }} <br>
          Periocidad: {{ }} <br>
          Periocidad pago interés: {{ }} <br>
          Número gracia de capital: {{ }} <br>
          Número gracia de interés: {{ }} <br>
          Fecha pago especial: {{ }}

        </address>
    </div>
    <div class="col-sm-5 invoice-col">
        <address>
            <h4> </h4>
          Tipo de tasa: {{ }} <br>
          Tasa Fija: {{ }} <br>
          Puntos adicionales: {{ }} <br>
          Tasa moratoria variable: {{ }} <br>
          Disposiciones: {{ }} <br>
          Periocidad pago capital: {{ }} <br>
          Periocidad de gracia de capital: {{ }} <br>
          Periocidad de gracia de interés: {{ }} <br>
          Pago especial: {{ }} <br>
          Monto pago especial: {{ }}
        </address>
    </div>
</div>
