<!--<app-btnlist></app-btnlist>-->
<div class="card">
  <!--<div class="card-header text-uppercase">Titulo</div>-->
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
        <div class="input-group">
          <div class="input-group-prepend"> <span class="input-group-text">Buscar</span>
          </div>
          <!-- <input type="text" class="form-control" placeholder="Ingrese datos a buscar"> -->
          <input type="text" class="form-control" placeholder="Buscar por catalogos" (keyup)='updateFilter($event)' style='width:30%;'>
          <div class="input-group-append"> <span class="input-group-text"><i class="fa fa-search"></i></span></div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-4">
      </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <div ngbDropdown class="btn-group m-1 float-sm-right" >
                <button type="button" class="btn btn-light" (click) ="php()"><i class="fa fa-file"></i><span> <a >Prueba PHP</a></span></button>
            </div>
            <div ngbDropdown class="btn-group m-1 float-sm-right" >
                <button type="button" class="btn btn-light" (click) ="php2()"><i class="fa fa-file"></i><span> <a >Prueba Funcional</a></span></button>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Filter Datatable Options Begin -->
<div class="row">
  <div class="col-sm-3">
    <div class="input-group">
      <div ngbDropdown class="input-group-prepend">
        <button class="btn btn-light" type="button" id="tipoP" ngbDropdownToggle>Tipo de Cliente</button>
        <div ngbDropdownMenu aria-labelledby="tipoP">
          <a ngbDropdownItem  (click)="Moral()" >Cliente Moral</a>
          <div role="separator" class="dropdown-divider"></div>
          <a ngbDropdownItem  (click)="Fisica()" >Cliente Fisica</a>
        </div>
      </div>
    </div>
  </div>
  <br>
	<div class="col-sm-12 mb-4">
		<ngx-datatable #table class='bootstrap selection-cell' [selected]="selected" [rows]='rows' [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" style='cursor:pointer;' [selectionType]="'cell'" (select)="onSelect($event)" (activate)="onActivate($event)" (dblclick) = "doubleClicked($event)">
      <ngx-datatable-column name="ID"  [frozenLeft]="true" prop="id"></ngx-datatable-column>
      <ngx-datatable-column name="Empresa" prop="empresa"></ngx-datatable-column>
      <ngx-datatable-column name="Cliente" prop="cliente"></ngx-datatable-column>
      <ngx-datatable-column name="RFC"  prop="rfc"></ngx-datatable-column>
      <ngx-datatable-column name="Empresa"  prop="empresa"></ngx-datatable-column>
      <ngx-datatable-column name="Estatus" prop="estatus"></ngx-datatable-column>
      <ngx-datatable-column name="Sucursal" prop="sucursal"></ngx-datatable-column>
      <ngx-datatable-column name="No. Sucursal"  prop="no_sucursal"></ngx-datatable-column>
		</ngx-datatable>
	</div>
<!-- Filter Datatable Options Ends -->
    <div class="col-sm-12 mb-4">
        <table border="0" span="0" class="table table-borderless table-striped"  style=" border:0px; box-shadow:3px 3px 5px 4px rgba(0,0,0,0.25);">
            <thead >
            <tr>
                <td>Numero CLiente</td>
                <td>Sucursal</td>
                <td>Apellido Paterno</td>
                <td>Apellido Materno</td>
                <td>Primer Nombre</td>
                <td>Segundo Nombre</td>
                <td>Razon Social</td>
                <td>Clave Promotor</td>
                <td>Estatus Cliente</td>
                <td>Fecha Alta</td>
                <td>Personalidad Juridica</td>
                <td>RFC</td>
                <td>Nacionalidad</td>
                <td>Email Personal</td>
                <td>Email Empresa</td>
                <td>Parte Relacionada</td>
                <td>Grupo Consejo</td>
                <td>Grupo Riesgo Comun</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dato of cliente">
                <td>{{dato.NumeroCLiente}}</td>
                <td>{{dato.Sucursal}}</td>
                <td>{{dato.ApellidoPaterno}}</td>
                <td>{{dato.ApellidoMaterno}}</td>
                <td>{{dato.PrimerNombre}}</td>
                <td>{{dato.SegundoNombre}}</td>
                <td>{{dato.RazonSocial}}</td>
                <td>{{dato.ClavePromotor}}</td>
                <td>{{dato.EstatusCliente}}</td>
                <td>{{dato.FechaAlta}}</td>
                <td>{{dato.PersonalidadJuridica}}</td>
                <td>{{dato.RFC}}</td>
                <td>{{dato.Nacionalidad}}</td>
                <td>{{dato.EmailPersonal}}</td>
                <td>{{dato.EmailEmpresa}}</td>
                <td>{{dato.ParteRelacionada}}</td>
                <td>{{dato.GrupoConsejo}}</td>
                <td>{{dato.GrupoRiesgoComun}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
