<!--<app-btnlist></app-btnlist>-->
<div class="card">
  <!--<div class="card-header text-uppercase">Titulo</div>-->
  <div class="card-body">
    <div class="row">
      <!--<div class="col-12 col-lg-4 col-xl-4">
				<div class="input-group">
					<div class="input-group-prepend"> <span class="input-group-text">Buscar</span>
					</div>
					<input type="text" class="form-control" placeholder="Buscar por catalogos" style='width:30%;'>
					<div class="input-group-append"> <span class="input-group-text"><i class="fa fa-search"></i></span></div>
				</div>
			</div>-->
			<div class="col-12 col-lg-4 col-xl-4">
        <h3>Listado de Clientes</h3>
        </div>
      <div class="col-12 col-lg-4 col-xl-4">
      </div>
        
    </div>
  </div>
</div>
<!-- Filter Datatable Options Begin -->
<div class="row">
  <div class="col-sm-3">
    <div class="input-group">
      <div ngbDropdown class="input-group-prepend">
        <button class="btn btn-light" type="button" id="tipoP" ngbDropdownToggle>Tipo de Cliente</button>
        <div ngbDropdownMenu aria-labelledby="tipoP">
          <a ngbDropdownItem  (click)="Moral()" >Cliente Moral</a>
          <div role="separator" class="dropdown-divider"></div>
          <a ngbDropdownItem  (click)="Fisica()" >Cliente Fisica</a>
        </div>
      </div>
    </div>
  </div>
  <br>
	<br>
	<div class="card col-sm-12 mb-12">
		<table class="table table-striped text-center " style="width:auto; height:5px;" >
		  <thead >
		  <th>Numero Cliente</th>
		  <th>Sucursal</th>
		  <th>Primer Nombre</th>
		  <th>Primer Apellido</th>
		  <th>Razon Social</th> 
		  <th>RFC </th>
		  <th>Personalidad Juridica</th>
		  <th>Email Personal </th>
		  <th>Celular</th>
		  </thead>
		  <tbody>
		  <tr *ngFor="let list of listado;let i=index;" >
			<td scope="row" >{{list.NumeroCLiente}}</td>
			<td scope="row" >{{list.Sucursal}}</td>
			<td>{{list.PrimerNombre}}</td>
			<td>{{list.ApellidoPaterno}}</td>
			<td>{{list.RazonSocial}}</td>
			<td>{{list.RFC}}</td>
			<td>{{list.PersonalidadJuridica}}</td>
			<td>{{list.EmailPersonal}}</td>
			<td>{{list.Celular}}</td>
			<td>
			  <a data-toggle="modal" data-target="#largesizemodal3" class="btn btn-sm btn-info text-white"    ><i class="fa fa-pencil"></i></a>
		  </tr>
		  </tbody>
		</table>
	</div>
<!-- Filter Datatable Options Ends -->
</div>
