<!--<app-btnlist></app-btnlist>-->
<div class="card">
  <!--<div class="card-header text-uppercase">Titulo</div>-->
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
        <div class="input-group">
          <div class="input-group-prepend"> <span class="input-group-text">Buscar</span>
          </div>
          <!-- <input type="text" class="form-control" placeholder="Ingrese datos a buscar"> -->
          <input type="text" class="form-control" placeholder="Buscar por catalogos" (keyup)='updateFilter($event)' style='width:30%;'>
          <div class="input-group-append"> <span class="input-group-text"><i class="fa fa-search"></i></span></div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-4">
      </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <div ngbDropdown class="btn-group m-1 float-sm-right" >
                <button type="button" class="btn btn-light" (click) ="php()"><i class="fa fa-file"></i><span> <a >Prueba PHP</a></span></button>
            </div>
            <div ngbDropdown class="btn-group m-1 float-sm-right" >
                <button type="button" class="btn btn-light" (click) ="php2()"><i class="fa fa-file"></i><span> <a >Prueba Funcional</a></span></button>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Filter Datatable Options Begin -->
<div class="row">
  <div class="col-sm-3">
    <div class="input-group">
      <div ngbDropdown class="input-group-prepend">
        <button class="btn btn-light" type="button" id="tipoP" ngbDropdownToggle>Tipo de Cliente</button>
        <div ngbDropdownMenu aria-labelledby="tipoP">
          <a ngbDropdownItem  (click)="Moral()" >Cliente Moral</a>
          <div role="separator" class="dropdown-divider"></div>
          <a ngbDropdownItem  (click)="Fisica()" >Cliente Fisica</a>
        </div>
      </div>
    </div>
  </div>
  <br>
	<div class="col-sm-12 mb-4">
		<ngx-datatable #table class='bootstrap selection-cell' [selected]="selected" [rows]='rows' [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" style='cursor:pointer;' [selectionType]="'cell'" (select)="onSelect($event)" (activate)="onActivate($event)" (dblclick) = "doubleClicked($event)">
      <ngx-datatable-column name="ID"  value="id"></ngx-datatable-column>
      <ngx-datatable-column name="Empresa" value="empresa"></ngx-datatable-column>
      <ngx-datatable-column name="Cliente" value="cliente"></ngx-datatable-column>
      <ngx-datatable-column name="RFC"  value="rfc"></ngx-datatable-column>
      <ngx-datatable-column name="Empresa"  value="empresa"></ngx-datatable-column>
      <ngx-datatable-column name="Estatus" value="estatus"></ngx-datatable-column>
      <ngx-datatable-column name="Sucursal" value="sucursal"></ngx-datatable-column>
      <ngx-datatable-column name="No. Sucursal"  value="no_sucursal"></ngx-datatable-column>
		</ngx-datatable>
	</div>
<!-- Filter Datatable Options Ends -->
</div>
