<div class="card">
  <!--<div class="card-header text-uppercase">Titulo</div>-->

  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
        <div ngbDropdown class="btn-group m-2" >
          <button type="button" class="btn btn-light"><i class="fa fa-floppy-o"></i><span>&nbsp;Salvar</span></button>
          <button type="button" class="btn btn-light"><i class="fa fa-check"></i><span>&nbsp;Verificar</span></button>
          <button type="button" class="btn btn-light"><i class="fa fa-clock-o"></i><span>&nbsp;Guardar Borrador</span></button>
        </div>
      </div>


      <div class="col-12 col-lg-8 col-xl-8">
        <div ngbDropdown class="btn-group m-2 float-sm-right" >
          <button type="button" class="btn btn-light"><i class="fa fa-copy"></i><span>&nbsp;Copiar</span></button>
          <button type="button" class="btn btn-light"><i class="fa fa-paste"></i><span>&nbsp;Pegar</span></button>
          <button type="button" class="btn btn-light"><i class="fa fa-mail-reply"></i><span>&nbsp;Salir</span></button>
        </div>
      </div>

    </div>
  </div>

</div>  